footer{
    .footerContainer{display: flex;
        .footerLeft{flex-basis: 25%;display: flex;align-items: center;justify-content: space-between;flex-direction: column;background: $primaryColor1;padding: 60px 120px;
            .footerSocialmedia{padding-top: 44px;border-top: 1px solid $quaternaryColor4;display: flex;gap: 24px;
                .socialmediaIcons{
                    .socialIcons{font-size: 20px;}
                }
            }
        }
        .footerRight{flex-basis: 75%;background: $tertiaryColor5;padding: 60px 120px;
            .footerRightContainer{display: flex;gap: 70px;flex-direction: column;
                .footerMenus{display: grid;grid-template-columns: repeat(4,1fr);gap: 60px 120px;
                    .footerMenuWrapper{
                        p{color: $quaternaryColor1;@include font20;@include verdanabold;line-height: 140%;margin-bottom: 20px;}
                        ul{display: flex;flex-direction:column;gap:4px;
                            li{
                                a{color: $quaternaryColor1;@include font18;@include verdanaregular;line-height: 140%;letter-spacing: -0.36px;&:not(:last-child){margin-bottom: 4px;}}
                                .underline{text-decoration: underline;}
                            }
                        }
                    }
                }
                .footerRights{padding-top: 45px;border-top: 1px solid $quaternaryColor4;display: flex;justify-content: space-between;align-items: center;
                    p{color: $quaternaryColor1;@include font18;@include verdanaregular;line-height: 140%;letter-spacing: -0.36px;}
                    .footerBottomLinks{display: flex;gap: 24px;
                        a{color: $quaternaryColor1;@include font18;@include verdanaregular;line-height: 140%;letter-spacing: -0.36px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1800px){
        .footerContainer{
            .footerLeft{padding: 50px 80px;
                .footerSocialmedia{gap: 24px;}
            }
            .footerRight{padding: 50px 80px;
                .footerRightContainer{gap: 65px;
                    .footerMenus{gap: 40px 80px;
                        .footerMenuWrapper{
                            p{margin-bottom: 20px;}
                        }
                    }
                    .footerRights{
                        .footerBottomLinks{gap: 24px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
        .footerContainer{
            .footerLeft{padding: 50px 70px;
                .footerSocialmedia{padding-top: 40px;gap: 20px;}
            }
            .footerRight{padding: 50px 70px;
                .footerRightContainer{gap: 55px;
                    .footerMenus{gap: 30px 70px;
                        .footerMenuWrapper{
                            p{margin-bottom: 20px;}
                        }
                    }
                    .footerRights{padding-top: 42px;
                        .footerBottomLinks{gap: 22px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){
        .footerContainer{
            .footerLeft{padding: 40px 80px;
                .footerSocialmedia{padding-top: 36px;gap: 18px;
                    .socialmediaIcons{
                        .socialIcons{font-size: 18px;}
                    }
                }
            }
            .footerRight{padding: 40px 80px;
                .footerRightContainer{gap: 30px;
                    .footerMenus{gap: 30px 60px;
                        .footerMenuWrapper{
                            p{margin-bottom: 14px;}
                        }
                    }
                    .footerRights{padding-top: 36px;
                        .footerBottomLinks{gap: 20px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1366px){
        .footerContainer{
            .footerLeft{
                .footerSocialmedia{padding-top: 32px;}
            }
        }
    }
    @media all and (max-width:1280px){
        .footerContainer{
            .footerLeft{padding: 35px 30px;
                .footerSocialmedia{padding-top: 26px;gap: 14px;}
            }
            .footerRight{padding: 35px 30px;
                .footerRightContainer{gap: 24px;
                    .footerMenus{grid-template-columns:repeat(3,1fr);
                        .footerMenuWrapper{
                            p{margin-bottom: 12px;}
                        }
                    }
                    .footerRights{padding-top: 32px;
                        .footerBottomLinks{gap: 14px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1024px){
        .footerContainer{
            .footerLeft{padding: 40px;
                .footerSocialmedia{padding-top: 32px;gap: 16px;}
            }
            .footerRight{padding:40px;
                .footerRightContainer{gap: 24px;
                    .footerMenus{grid-template-columns:repeat(2,1fr);
                        .footerMenuWrapper{
                            p{margin-bottom: 14px;}
                        }
                    }
                    .footerRights{padding-top: 35px;
                        .footerBottomLinks{gap: 16px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:820px){
        .footerContainer{display: flex;flex-direction:column;
            .footerLeft{flex-basis: 100%;padding: 32px 20px;@include wrapper;
                .footerSocialmedia{padding-top: 18px;gap: 24px;margin-top: 22px;}
            }
            .footerRight{flex-basis: 100%;background: $tertiaryColor5;padding: 32px 20px;@include wrapper;
                .footerRightContainer{display: flex;gap: 32px;flex-direction: column;
                    .footerMenus{grid-template-columns: repeat(2,1fr);gap: 32px;padding:0px;
                        .footerMenuWrapper{
                            p{font-size: 16px;line-height: 22.4px;margin-bottom: 20px;letter-spacing: none;}
                            ul{gap:14px;
                                li{
                                    &:not(:last-child){a{margin-bottom: 14px;}}
                                    a{font-size: 14px;line-height: 19.6px;letter-spacing: -0.28px;}
                                }
                            }
                        }
                    }
                    .footerRights{padding-top: 33px;border-top: 1px solid $quaternaryColor4;display: flex;flex-direction:column;gap:24px;align-items:start;
                        p{font-size: 14px;line-height: 21px;}
                        .footerBottomLinks{display: flex;gap: 24px;flex-direction:column;align-items:start;
                            a{font-size: 14px;line-height: 21px;letter-spacing: -0.28px;}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width : 720px){
        .footerContainer{
            .footerLeft{
                .footerSocialmedia{
                    .socialmediaIcons{
                        .socialIcons{font-size: 16px;}
                    }
                }
            }
        }
    }
}