footer{
    .footerContainer{display: flex;
        .footerLeft{flex-basis: 25%;display: flex;align-items: center;justify-content: space-between;flex-direction: column;background: $primaryColor1;padding: 60px 120px;
            .footerSocialmedia{padding-top: 28px;border-top: 1px solid $quaternaryColor4;display: flex;gap: 24px;}
        }
        .footerRight{flex-basis: 75%;background: $tertiaryColor5;padding: 60px 120px;
            .footerRightContainer{display: flex;gap: 70px;flex-direction: column;
                .footerMenus{display: grid;grid-template-columns: repeat(4,1fr);gap: 60px 120px;
                    .footerMenuWrapper{
                        p{color: $quaternaryColor1;@include font20;@include verdanabold;line-height: 140%;margin-bottom: 20px;}
                        ul{
                            li{
                                a{color: $quaternaryColor1;@include font18;@include verdanaregular;line-height: 140%;letter-spacing: -0.36px;&:not(:last-child){margin-bottom: 4px;}}
                                .underline{text-decoration: underline;}
                            }
                        }
                    }
                }
                .footerRights{padding-top: 33px;border-top: 1px solid $quaternaryColor4;display: flex;justify-content: space-between;align-items: center;
                    p{color: $quaternaryColor1;@include font18;@include verdanaregular;line-height: 140%;letter-spacing: -0.36px;}
                    .footerBottomLinks{display: flex;gap: 24px;
                        a{color: $quaternaryColor1;@include font18;@include verdanaregular;line-height: 140%;letter-spacing: -0.36px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1800px){
        .footerContainer{
            .footerLeft{padding: 50px 100px;
                .footerSocialmedia{padding-top: 28px;gap: 24px;}
            }
            .footerRight{padding: 50px 100px;
                .footerRightContainer{gap: 70px;
                    .footerMenus{gap: 50px 100px;
                        .footerMenuWrapper{
                            p{margin-bottom: 20px;}
                        }
                    }
                    .footerRights{padding-top: 33px;
                        .footerBottomLinks{gap: 24px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
        .footerContainer{
            .footerLeft{padding: 40px 80px;
                .footerSocialmedia{padding-top: 24px;gap: 22px;}
            }
            .footerRight{padding: 40px 80px;
                .footerRightContainer{gap: 60px;
                    .footerMenus{gap: 40px 80px;
                        .footerMenuWrapper{
                            p{margin-bottom: 20px;}
                        }
                    }
                    .footerRights{padding-top: 30px;
                        .footerBottomLinks{gap: 22px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){
        .footerContainer{
            .footerLeft{padding: 30px 60px;
                .footerSocialmedia{padding-top: 22px;gap: 20px;}
            }
            .footerRight{padding: 30px 60px;
                .footerRightContainer{gap: 40px;
                    .footerMenus{padding: 30px 60px;
                        .footerMenuWrapper{
                            p{margin-bottom: 18px;}
                        }
                    }
                    .footerRights{padding-top: 30px;
                        .footerBottomLinks{gap: 20px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:680px){
        .footerContainer{display: flex;flex-direction:column;
            .footerLeft{flex-basis: 100%;padding: 32px 20px;
                .footerSocialmedia{padding-top: 18px;gap: 24px;margin-top: 22px;}
            }
            .footerRight{flex-basis: 100%;background: $tertiaryColor5;padding: 32px 20px;
                .footerRightContainer{display: flex;gap: 32px;flex-direction: column;
                    .footerMenus{grid-template-columns: repeat(2,1fr);gap: 32px 60px;padding:0px;
                        .footerMenuWrapper{
                            p{font-size: 16px;line-height: 22.4px;margin-bottom: 20px;}
                            ul{  
                                li{
                                    &:not(:last-child){a{margin-bottom: 14px;}}
                                    a{font-size: 14px;line-height: 19.6px;}
                                }
                            }
                        }
                    }
                    .footerRights{padding-top: 33px;border-top: 1px solid $quaternaryColor4;display: flex;flex-direction:column;gap:24px;align-items:start;
                        p{font-size: 14px;line-height: 21px;}
                        .footerBottomLinks{display: flex;gap: 24px;flex-direction:column;align-items:start;
                            a{font-size: 14px;line-height: 21px;}
                        }
                    }
                }
            }
        }
    }
}