header{position: fixed;width: 100%;top: 0;z-index: 9;transition: top 0.5s ease-in-out;
    &.nav-up{top: -150px;}
    .headerWrapper{display: flex;align-items: center;justify-content: space-between;padding: 18px 120px;background: #FFF;
        .headerMenu{
            .navMenu{
                .navLinks{
                    .navLists{
                        ul{display: flex;align-items:center;gap:56px;
                            li{display:flex;gap:10px;padding:15px 0px;position:relative;padding-right:7px;
                                &:hover{&::before{width: 100%;}}
                                &::before{position: absolute;content:"";bottom: 0;left: 0;width: 0;height: 5px;background: $primaryColor1;transition: 0.3s all ease-in-out;}
                                .mainManu{@include verdanaregular;@include font20;line-height: 150%;color: $quaternaryColor1;transition: 0.3s all ease-in-out;}
                                .arrowImage{transition: 0.3s all ease-in-out;}
                                .accordian-icon-wrapper{display: none;}
                                &.dropdown{transition: 0.3s all ease-in-out;
                                    &::before{position: absolute;content:"";bottom: 0;left: 0;width: 0;height: 5px;background: $primaryColor1;transition: 0.3s all ease-in-out;}
                                    .mainManu{cursor: default;pointer-events: none;}
                                    &.active{
                                        &::before{width: calc(100% - 7px);}
                                        .arrowImage{transform: rotate(180deg);}
                                        .dropdownMenu{   opacity: 1;visibility: visible;}
                                    }
                                }
                                .dropdownMenu{position: absolute;top:100%;left:-40px;padding-top:20px; opacity: 0;visibility: hidden;transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
                                    ul{background:#ffffff;min-width: 320px;display:flex;flex-direction:column;align-items: start;gap:40px;border:1px solid #1E1E1E;padding:24px 0px;
                                        li{display: flex;flex-direction:column;gap:0;width: 100%;padding:0px;
                                            &::before{content: none}
                                            p{@include terminabold;@include font20;color: #323232;padding: 12px 40px;}
                                            a{@include verdanaregular;@include font20;color: #323232;padding: 12px 40px;
                                                &:hover{background: $primaryColor1;}
                                            }
                                        }
                                    }
                                }
                                .languageMenu{
                                    ul{min-width: 115px;gap:0 !important;
                                        li{
                                            p{cursor: pointer;padding: 12px 40px;
                                                &:hover{background: $primaryColor1;}
                                            }
                                        }
                                    }
                                }
                            }
                            .ctaContact{padding: 0px; 
                                &::before{content: none;}
                                a{padding: 20px 32px;color: $primaryColor1;@include font16;@include terminamedium;letter-spacing: -0.64px;background: $quaternaryColor1;border-radius: 100px;transition:0.3s all ease-in-out;
                                    &:hover{color: #1E1E1E;background: $primaryColor1;}
                                }
                            }
                            .languageTranslator{&::before{content: none !important;}}
                        }
                    }
                }
            }
            .hamburger-menu{display: none;}
        }
    }
    @media all and (max-width:1800px){
    .headerWrapper{padding: 18px 120px;
        .headerMenu{
            .navMenu{
                .navLinks{
                    .navLists{
                        ul{gap:54px;
                            li{gap:10px;
                                .dropdownMenu{left:-40px;padding-top:19px;
                                    ul{min-width: 320px;gap:36px;}
                                }
                                .languageMenu{
                                    ul{min-width: 110px;
                                        li{
                                            p{padding: 10px 36px;}
                                        }
                                    }
                                }
                            }
                            .ctaContact{
                                a{padding: 18px 30px;letter-spacing: -0.64px;}
                            }
                        }
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:1600px){
        .headerWrapper{padding: 16px 90px;
            .headerMenu{
                .navMenu{
                    .navLinks{
                        .navLists{
                            ul{gap:50px;
                                li{
                                    .dropdownMenu{left:-36px;padding-top:16px;
                                        ul{gap:32px;padding:20px 0px;min-width: 300px;
                                            li{
                                                p{padding: 10px 36px;}
                                                a{padding: 10px 36px;}
                                            }
                                        }
                                    }
                                    .languageMenu{
                                        ul{min-width: 100px;
                                            li{
                                                p{padding: 9px 32px;}
                                            }}
                                    }
                                }
                                .ctaContact{
                                    a{padding: 16px 28px;letter-spacing: -0.64px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){
        .headerWrapper{padding: 14px 80px;
            .headerMenu{
                .navMenu{
                    .navLinks{
                        .navLists{
                            ul{gap:40px;
                                li{
                                    .dropdownMenu{left:-32px;
                                        ul{gap:28px;padding:18px 0px;
                                            li{
                                                p{padding: 9px 32px;}
                                                a{padding: 9px 32px;}
                                            }
                                        }
                                    }
                                    .languageMenu{
                                        ul{min-width: 90px;
                                            li{
                                                p{padding: 8px 28px;}
                                            }
                                        }
                                    }
                                }
                                .ctaContact{
                                    a{padding: 14px 24px;letter-spacing: -0.64px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1280px){
        .headerWrapper{padding: 12px 80px;
            .headerMenu{
                .navMenu{
                    .navLinks{
                        .navLists{
                            ul{gap:36px;
                                li{gap:8px;
                                    .dropdownMenu{left:-28px;padding-top:12px;
                                        ul{gap:20px;padding:16px 0px;min-width: 280px;
                                            li{
                                                p{padding: 8px 28px;}
                                                a{padding: 8px 28px;}
                                            }
                                        }
                                    }
                                    .languageMenu{
                                        ul{min-width: 80px;}
                                    }
                                }
                                .ctaContact{
                                    a{padding: 12px 22px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1180px){
        .headerWrapper{padding: 10px 80px;
            .headerMenu{
                .navMenu{
                    .navLinks{
                        .navLists{
                            ul{gap:32px;
                                li{gap:8px;
                                    &.dropdown{
                                        .mainManu{cursor: pointer;pointer-events: auto;}
                                    }
                                    .dropdownMenu{left:-20px;padding-top:10px;
                                        ul{gap:14px;padding:14px 0px;min-width: 250px;
                                            li{
                                                p{padding: 7px 20px;}
                                                a{padding: 7px 20px;}
                                            }
                                        }
                                    }
                                    .languageMenu{
                                        ul{min-width: 80px;}
                                    }
                                }
                                .ctaContact{
                                    a{padding: 10px 20px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 1024px){
        .headerWrapper{padding: 10px 40px;}
    }
    @media all and (max-width:820px){
        .headerWrapper{padding: 20px 40px; z-index: 99;
            .headerLogo{img{position: relative;height: 20px;width: 90px;z-index: 99;}}
            .headerMenu{
                .navMenu{position: absolute;top: 0;right: -110%;width: 100%;transition: 0.4s all ease-in-out;overflow: hidden;height: 100vh;
                    &.open {right: 0;background: #ffffff;flex-direction: column;}
                    .navLinks{height: calc(100% - 250px);overflow-y:auto;margin-top:113px;
                        .navLists{
                            ul{display: flex;flex-direction:column;align-items:start;padding:0px 20px;gap:24px;
                                li{padding: 0px;display:flex;justify-content:space-between;align-items:center;width: 100%;flex-wrap:wrap;gap:0px;
                                    &.dropdown{transition: 0.3s all ease-in-out;
                                        &::before{content:none;}
                                        .mainManu{font-size: 16px;@include terminabold;}
                                        &.active{
                                            &::before{width: 100%;}
                                            .mainManu{@include terminabold;}
                                            .accordian-icon-wrapper{background: $primaryColor1;
                                                .accordion-icon {
                                                    &::after {transform: rotate(90deg);transition: 0.5s all ease-in-out;width: 0px;}
                                                }
                                            }
                                            .dropdownMenu{height: auto;opacity: 1;transition: 0.5s all ease-in-out;margin-top: 16px;}
                                        }
                                    }
                                    .mainManu{font-size: 16px;@include terminabold;}
                                    .arrowImage{display: none;}
                                    .accordian-icon-wrapper{display: block;padding: 3px;transition: 0.3s all ease-in-out;
                                        .accordion-icon {position: relative;transition: 0.5s all ease-in-out;width: 21px;height:21px;
                                            &::after {content: "";position: absolute;left: 50%;background: #343330;height: 100%;width: 2px;transform: translateX(-50%);transition: 0.3s all ease-in-out;}
                                            &::before {content: "";position: absolute;top: 50%;background: #343330;width: 100%;height: 2px;transform: translateY(-50%) rotate(180deg);}
                                        }
                                    }
                                    .dropdownMenu{position: relative;width: 100%;padding:0px 20px;transition: 0.5s all ease-in-out;height:0;opacity: 0;
                                        ul{background:transparent;min-width: 100%;gap:32px;padding-left:20px;border:none;border-left:4px solid $primaryColor1 !important;
                                            li{display: flex;flex-direction:column;gap:12px;align-items:start;
                                                p{@include terminaregular;font-size: 16px;color: #909090;padding: 0px;}
                                                a{font-size: 16px;line-height: 28px;color: #000;padding: 0px;pointer-events: unset;
                                                    &:hover{background: unset;}
                                                }
                                            }
                                        }
                                    }
                                }
                                .dropdown{
                                    a{cursor: default;pointer-events: none;}
                                }
                                .languageTranslator{display: none;}
                                .ctaContact{position: fixed;bottom:30px;
                                    .accordian-icon-wrapper {display: none;}
                                    a{padding: 20px 32px;letter-spacing: -0.48px;font-size: 12px;background: $primaryColor1;color:$quaternaryColor1;position: relative;padding-right: 66px;
                                        &::before{content: url(../images/black-cta-arrow.svg); position: absolute; width: 16px; top: calc(50% + 2px); transform: translateY(-50%); right: 32px; opacity: 1; transition: transform 0.3s ease-out, opacity 0.3s ease-out;}
                                    }
                                }
                            }
                        }
                    }
                }
                .hamburger-menu{display: block;margin-left:auto;
                    .button_toggle {position: relative;height: 10px;cursor: pointer;z-index: 1;transition: opacity .3s ease;right:20px;
                        &.active{
                            .spanParent{position: absolute;right:50%;top:50%;transform:translate(-50%,-50%);
                                span{width: 26px;}
                                .top {transform: translateY(-50%) translateX(-50%) rotate(45deg);background: #343434;right:50%;top:50%;}
                                .middle {opacity: 0;background: #FFF;}
                                .bottom {transform: translateY(-50%) translateX(-50%) rotate(-45deg);background: #343434;right:50%;top:50%;}
                            }
                        }
                        .spanParent{
                            span {
                                background: #000;border: none;height: 2px;width: 20px;position: absolute;top: -4px;left: 0;transition: all .3s ease;cursor: pointer;
                                &:nth-of-type(2) {top: 4px;right: -20px;width: 15px;left: unset;}
                                &:nth-of-type(3) {top: 12px;}
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 680px){
        .headerWrapper{padding: 20px;}
    }
}

.contactForm{position: fixed;top:0;right:-110%;transition:0.3s all ease-in-out;z-index: 99;width: 1100px;height:1000px;
    &.open{right: 0;}
    .contactFormWrapper{padding: 72px;background:#FFFFFF;border:12px solid $primaryColor1;overflow-y:auto !important;height:100% !important;  -ms-overflow-style: none; /* IE/Edge */
    /* Custom scrollbar for WebKit-based browsers */
    &::-webkit-scrollbar {
        width: 10px; /* Width of vertical scrollbar */
        height: 10px; /* Height of horizontal scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background: $primaryColor1; /* Color of the scrollbar thumb */
        border-radius: 20px; /* Rounded corners */
    }

    &::-webkit-scrollbar-track {
        background: #f4f4f4; /* Color of the scrollbar track */
        border-radius: 20px; /* Rounded corners */
    }
    scrollbar-width: thin;
    scrollbar-color: $quaternaryColor1 #f4f4f4;
        .contactHeading{display: flex;align-items:center;justify-content:space-between;margin-bottom:36px;
            h2{@include terminamedium;@include font48;line-height: 160%;text-transform: uppercase;color: #1E1E1E;}
            .closeBtn{cursor: pointer;}
        }
        .contactTop{display: flex;flex-wrap:wrap;justify-content:space-between;gap:38px;margin-bottom:48px;
            .formFields{flex-basis:calc(50% - 19px);display:flex;flex-direction:column;gap:17px;
                &:first-child{flex-basis: 100%;}
                label{text-transform: capitalize;@include terminamedium;@include font18;line-height: 140%;font-weight: 600;color: #1E1E1E;}
                input{border-bottom: 1px solid #A5A5A5;@include verdanaregular;@include font16;line-height: 175%;color: #1E1E1E;padding:7px 0px 14px 0px;width: 100%;font-weight: $fontW400;
                    &::placeholder{@include verdanaregular;@include font16;line-height: 175%;color: #A5A5A5;}
                    &::-webkit-input-placeholder{@include verdanaregular;@include font16;line-height: 175%;color: #A5A5A5;}
                }
                .wpcf7-not-valid-tip{@include verdanaregular;@include font16;margin-top: 8px}
                .selected-dial-code{@include verdanaregular;@include font16;line-height: 175%;padding-bottom: 8px;}
                .iti-arrow{margin-top:-5px;}
            }
        }
        .contactBottom{
            h3{@include terminamedium;@include font24;line-height: 120%;margin-bottom: 36px;font-weight: 600;color: #1E1E1E;}
            .contactTab{display: flex;align-items: center;gap: 16px;margin-bottom:48px;
                .contact-tab-btn{@include verdanaregular;@include font20;line-height: 160%;background: #FFFFFF;border: 1px solid #A5A5A5;padding: 14px 56px;color: #1E1E1E;border-radius:100px;cursor: pointer;
                    &.active{color: $primaryColor1;background: #1E1E1E;}
                }
            }
            .contact-tab-content{display:none;
                &.active{display: block;}
                .contact-tab-wrapper{display: flex;flex-wrap:wrap;justify-content:space-between;gap:38px;
                    .formFields{flex-basis:calc(50% - 19px);display:flex;flex-direction:column;gap:17px;
                        &:last-child{flex-basis: 100%;}
                        label{text-transform: capitalize;@include terminaregular;@include font18;line-height: 140%;font-weight: 600;color: #1E1E1E;}
                        input{border-bottom: 1px solid #A5A5A5;@include verdanaregular;@include font16;line-height: 175%;color: #1E1E1E;padding:7px 0px 14px 0px;width: 100%;font-weight: $fontW400;
                            &::placeholder{@include verdanaregular;@include font16;line-height: 175%;color: #A5A5A5;font-weight: $fontW400;}
                            &::-webkit-input-placeholder{@include verdanaregular;@include font16;line-height: 175%;color: #A5A5A5;font-weight: $fontW400;}
                        }
                        .wpcf7-not-valid-tip{@include verdanaregular;@include font16;margin-top: 8px}
                        .lowercase{text-transform: none;}
                        textarea{border: 1px solid #A5A5A5;@include verdanaregular;@include font16;line-height: 175%;color: #1E1E1E;padding: 24px;width: 100%;height: 148px;resize: none;font-weight: $fontW400;}
                        .customSelect{position: relative;
                            .selectBtn{width: 100%; background: transparent; display: flex; cursor: pointer; border-bottom: 1px solid #A5A5A5;padding:7px 0px 14px 0px;position: relative; justify-content: space-between;
                              .sBtntext{color: $quaternaryColor1; @include verdanaregular; @include font16; font-weight: $fontW400;}
                              .img{display: block;}
                            }
                            .options{position: absolute; width: 100%; overflow-y: auto; max-height: 295px; margin-top: 10px; display:none; background: #fff;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); animation-name: fadeInDown; -webkit-animation-name: fadeInDown; animation-duration: 0.35s;animation-fill-mode: both; -webkit-animation-duration: 0.35s; -webkit-animation-fill-mode: both;
                              .option{display: flex; height: 55px; cursor: pointer; padding: 0 16px; align-items: center; background: #fff;@include verdanaregular; @include font16; font-weight: $fontW400; text-align: left; color: $quaternaryColor3; border-bottom: 1px solid #CCCCCC;
                                &:last-child{border: none;}
                              }
                              &::-webkit-scrollbar{width: 6px;}
                              &::-webkit-scrollbar-thumb{background-color: $quaternaryColor3; border-radius: 5px;}
                            }
                            &.active .selectBtn{
                              img{transform: rotate(-180deg);}
                            }
                            &.active .options{display: block; opacity: 0; z-index: 10; animation-name: fadeInUp; -webkit-animation-name: fadeInUp; animation-duration: 0.4s; animation-fill-mode: both; -webkit-animation-duration: 0.4s; -webkit-animation-fill-mode: both;}
                        }
                        select{padding:7px 0px 20px 0px;width: 100%;border-bottom: 1px solid #A5A5A5;color: $quaternaryColor1; @include verdanaregular; @include font16; font-weight: $fontW400;line-height: 175%;
                            option{@include verdanaregular; @include font16; font-weight: $fontW400; text-align: left;line-height: 175%; color: $quaternaryColor3; border-bottom: 1px solid #CCCCCC;
                                &:hover{background-color: #f1f1f1;}
                            }
                        }
                        .charges{display: flex;gap: 20px;
                            .chargesCount{flex: 1;
                                label{width: 100%;
                                    input{visibility: hidden;height: 0;display: block;
                                        &:checked + span{color: #FFFFFF;background: #1E1E1E;color: $primaryColor1;}
                                    }
                                    span{display: flex;align-items: center;justify-content: center;cursor: pointer;;border: 1px solid #A5A5A5;border-radius: 100px;@include verdanaregular;@include font16;line-height: 175%;padding: 6px;width: 100%;}
                                }
                            }
                        }
                    }
                }
            }
            .submitDiv {margin-top:32px;display:flex;justify-content:end;
                input{@include terminaregular; @include font16; font-weight: $fontW600; line-height: 100%; letter-spacing: -0.64px; color: $quaternaryColor1; background: $primaryColor1; border-style: none; padding: 20px 32px; border-radius: 100px; cursor: pointer; transition: all 0.3s ease-out; position: relative; overflow: hidden; text-align: left;display:inline-block;}
                .wpcf7-spinner{display: none;}
            }
        }
    }
    @media all and (max-width: 1600px){width: 1100px;
    .contactFormWrapper{padding: 60px;
        .contactHeading{margin-bottom:32px;}
        .contactTop{gap:36px;margin-bottom:42px;
            .formFields{flex-basis:calc(50% - 18px);gap:15px;
                input{padding:7px 0px 14px 0px;}
            }
        }
        .contactBottom{
            h3{margin-bottom: 32px;}
            .contactTab{gap: 15px;margin-bottom:42px;
                .contact-tab-btn{padding: 12px 50px;}
            }
            .contact-tab-content{
                .contact-tab-wrapper{gap:36px;
                    .formFields{flex-basis:calc(50% - 18px);
                        input{padding:7px 0px 14px 0px;
                        }
                        textarea{padding: 22px;}
                        .customSelect{
                            .selectBtn{padding:7px 0px 14px 0px;}
                            .options{max-height: 280px; margin-top: 10px;
                              .option{height: 50px; padding: 0 14px;}
                            }
                        }
                        .charges{gap: 20px;
                            .chargesCount{
                                label{
                                    span{padding: 6px;}
                                }
                            }
                        }
                    }
                }
            }
            .submitDiv {margin-top:30px;
                input{padding: 18px 30px;}
            }
        }
    }
    }
    @media all and (max-width:1536px){height: 700px;}
    @media all and (max-width: 1440px){width: 1100px;
        .contactFormWrapper{padding: 50px;
            .contactHeading{margin-bottom:32px;}
            .contactTop{gap:36px;margin-bottom:42px;
                .formFields{flex-basis:calc(50% - 18px);gap:15px;
                    input{padding:7px 0px 14px 0px;}
                }
            }
            .contactBottom{
                h3{margin-bottom: 32px;}
                .contactTab{gap: 15px;margin-bottom:42px;
                    .contact-tab-btn{padding: 12px 50px;}
                }
                .contact-tab-content{
                    .contact-tab-wrapper{gap:36px;
                        .formFields{flex-basis:calc(50% - 18px);
                            input{padding:7px 0px 14px 0px;
                            }
                            textarea{padding: 22px;}
                            .customSelect{
                                .selectBtn{padding:7px 0px 14px 0px;}
                                .options{max-height: 280px; margin-top: 10px;
                                  .option{height: 50px; padding: 0 14px;}
                                }
                            }
                            .charges{gap: 20px;
                                .chargesCount{
                                    label{
                                        span{padding: 6px;}
                                    }
                                }
                            }
                        }
                    }
                }
                .submitDiv {margin-top:30px;
                    input{padding: 18px 30px;}
                }
            }
        }
    }
    @media all and (max-width:1366px){height: 650px;}
    @media all and (max-width: 1280px){width: 1000px;
        .contactFormWrapper{padding: 42px;
            .contactHeading{margin-bottom:26px;}
            .contactTop{gap:32px;margin-bottom:36px;
                .formFields{flex-basis:calc(50% - 16px);gap:14px;
                    input{padding:6px 0px 12px 0px;}
                }
            }
            .contactBottom{
                h3{margin-bottom: 32px;}
                .contactTab{gap: 15px;margin-bottom:36px;
                    .contact-tab-btn{padding: 10px 40px;}
                }
                .contact-tab-content{
                    .contact-tab-wrapper{gap:32px;
                        .formFields{flex-basis:calc(50% - 16px);
                            input{padding:6px 0px 12px 0px;}
                            textarea{padding: 20px;}
                            .customSelect{
                                .selectBtn{padding:6px 0px 12px 0px;}
                                .options{max-height: 250px; margin-top: 9px;
                                  .option{height: 40px; padding: 0 12px;}
                                }
                            }
                            select{padding: 6px 0px 18px 0px;}
                            .charges{gap: 16px;
                                .chargesCount{
                                    label{
                                        span{padding: 6px;}
                                    }
                                }
                            }
                        }
                    }
                }
                .submitDiv {margin-top:30px;
                    input{padding: 18px 30px;}
                }
            }
        }
    }
    @media all and (max-width:820px){width: 100%;height:100vh;}
    @media all and (max-width:768px){
        right:-150%;width: 100%;
    .contactFormWrapper{padding: 80px 20px 48px 20px;border:4px solid $primaryColor1;position:relative;
        .contactHeading{margin-bottom:48px;
            h2{font-size: 24px;line-height: 32px;}
            .closeBtn{cursor: pointer;position: absolute;top: 32px;right: 20px;}
        }
        .contactTop{gap:32px;margin-bottom:48px;
            .formFields{flex-basis:100%;gap:12px;
                &:first-child{flex-basis: 100%;}
                label{font-size: 12px;line-height: 14.4px;}
                input{padding:7px 0px 14px 0px;font-size: 12px;line-height: 18px;
                    &::placeholder{font-size: 12px;line-height: 18px;}
                    &::-webkit-input-placeholder{font-size: 12px;line-height: 18px;}
                }
                .selected-dial-code{font-size: 12px;line-height: 18px;}
            }
        }
        .contactBottom{
            h3{margin-bottom: 16px;font-size: 20px;line-height: 28px;}
            .contactTab{gap: 12px;margin-bottom:40px;
                .contact-tab-btn{padding: 9px 22px;color: #1E1E1E;font-size: 12px;line-height: 18px;}
            }
            .contact-tab-content{
                .contact-tab-wrapper{gap:38px;
                    .formFields{flex-basis: 100%;flex-basis:100%;gap:12px;
                        &:last-child{flex-basis: 100%;}
                        label{font-size: 12px;line-height: 14.4px;}
                input{padding:7px 0px 14px 0px;font-size: 12px;line-height: 18px;
                    &::placeholder{font-size: 12px;line-height: 18px;}
                    &::-webkit-input-placeholder{font-size: 12px;line-height: 18px;}
                }
                        textarea{font-size: 12px;line-height: 18px;padding: 16px;height: 148px;}
                        .customSelect{
                            .selectBtn{padding:7px 0px 14px 0px;
                              .sBtntext{font-size: 12px;line-height: 18px;}
                            }
                            .options{max-height: 250px; margin-top: 10px; 
                              .option{padding: 0 16px;font-size: 12px;line-height: 18px;}
                              &::-webkit-scrollbar{width: 6px;}
                            }
                        }
                        select{padding: 7px 0px 20px 0px;font-size: 12px;line-height: 18px;
                            option{font-size: 12px;line-height: 18px;}
                        }
                        .charges{gap: 12px;
                            .chargesCount{
                                label{
                                    span{line-height: 18px;font-size: 12px;}
                                }
                            }
                        }
                    }
                }
            }
            .submitDiv {margin-top:48px;justify-content:center;
                input{line-height:normal; font-size: 12px;letter-spacing:-0.48px;padding: 18px 32px;}
            }
        }
    }
    }
}
