.bannerSection {
    position: relative;
    margin-top: 134px;
    margin-bottom: 200px;

    .blackOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(30, 30, 30, 0.70) 5.02%, rgba(111, 111, 111, 0.70) 53.08%, rgba(44, 44, 44, 0.40) 53.08%);
        mix-blend-mode: overlay;
    }
    .bannerSectionWrapper {
        position: absolute;
        left: 120px;
        top: 230px;
        width: 75%;

        h1 {
            margin-bottom: 20px;
            color: $primaryColor1;
            @include terminabold;
            @include font80;
            font-weight: $fontW700;
            line-height: 120%;
        }

        p {
            margin-bottom: 72px;
            color: #fff;
            @include verdanaregular
        }
    }
    @media all and (max-width:1800px){
        margin-top: 128px;
        margin-bottom: 180px;
        
        .bannerSectionWrapper {
            left: 100px;
            top: 220px;
            width: 70%;
    
            h1 {
                margin-bottom: 18px;
            }
    
            p {
                margin-bottom: 70px;
            }
        }
    }
    @media all and (max-width:1600px){
        margin-top: 112px;
        margin-bottom: 160px;
        
        .bannerSectionWrapper {
            left: 80px;
            top: 180px;
            width: 70%;
    
            h1 {
                margin-bottom: 18px;
            }
    
            p {
                margin-bottom: 60px;
            }
        }
    }
    @media all and (max-width:1440px){
        margin-top: 98px;
        
        .bannerSectionWrapper {
            left: 80px;
            top: 150px;
            width: 70%;
    
            h1 {
                margin-bottom: 16px;
            }
    
            p {
                margin-bottom: 50px;
            }
        }
    }
    @media all and (max-width:1280px){
        margin-top: 89px;
        margin-bottom: 150px;
        
        .bannerSectionWrapper {
            left: 70px;
            top: 100px;
    
            h1 {
                margin-bottom: 14px;
            }
    
            p {
                margin-bottom: 40px;
            }
        }
    }
}

.withEaseSection {
    height: 85vh;
    margin-bottom: 200px;

    .divWrapper {
        display: flex;
        gap: 60px;
        align-items: start;
        height: 100%;
        justify-content: space-between;
        padding-top: 170px;

        .leftContent {
            padding: 0px 130px;
            flex-basis: 50%;
        }

        .rightContent {
            overflow: hidden;
            height: 100%;
            flex-basis: 50%;

            .rightContentWrapper {
                overflow-y: scroll;
                height: 100%;
                scrollbar-width: none;
                -ms-overflow-style: none;
                display: grid;
                grid-template-columns: 1fr;
                gap: 187px;

                &::-webkit-scrollbar {
                    display: none;
                }

                .imageDiv {
                    &:nth-child(even) {
                        margin-left: auto;
                    }
                }
            }
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;
    
        .divWrapper {
            gap: 50px;
            padding-top: 150px;
    
            .leftContent {
                padding: 0px 120px;
                flex-basis: 50%;
            }
    
            .rightContent {
                flex-basis: 50%;
    
                .rightContentWrapper {
                    gap: 170px;
                }
            }
        }
    }
    @media all and (max-width:1600px){
        height: 80vh;
        margin-bottom: 160px;
    
        .divWrapper {
            gap: 45px;
            padding-top: 130px;
    
            .leftContent {
                padding: 0px 80px;
                flex-basis: 45%;
            }
    
            .rightContent {
                .rightContentWrapper {
                    gap: 150px;
                }
            }
        }
    }
    @media all and (max-width:1440px){
        height: 80vh;
    
        .divWrapper {
            gap: 40px;
            padding-top: 100px;
    
            .leftContent {
                padding: 0px 60px;
                flex-basis: 43%;
            }
    
            .rightContent {
                .rightContentWrapper {
                    gap: 130px;
                }
            }
        }
    }
    @media all and (max-width:1280px){
    
        .divWrapper {
            gap: 36px;
            padding-top: 80px;
    
            .leftContent {
                padding: 0px 40px;
            }
    
            .rightContent {
                .rightContentWrapper {
                    gap: 110px;
                }
            }
        }
    }
}

.evertaEveryoneSection {
    margin-bottom: 200px;

    h2 {
        margin-bottom: 24px;
        @include terminabold;
        @include font48;
        @include wrapper;
        text-transform: uppercase;
        line-height: 133.333%;
        font-weight: 700;
        color: $quaternaryColor1;
    }

    p {
        margin-bottom: 56px;
        @include wrapper;
        @include verdanaregular;
        @include font20;
        font-weight: 400;
        line-height: 160%;
        color: $quaternaryColor1;
    }

    .hover-section {
        display: flex;
        flex-direction: column;

        .hover-box {
            padding: 70px 0px;
            @include wrapper;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease;
            border-bottom: 1px solid #D8DBDC;
            border-top: 1px solid #D8DBDC;
            transition: 0.3s all ease-in-out;

            &:hover {
                background: $primaryColor1;

                .content {
                    h3 {
                        margin-bottom: 32px;
                    }

                    p {
                        display: block;
                    }

                    a {
                        display: inline-block;
                    }
                }

                .image {
                    opacity: 1;
                    height: auto;
                }
            }

            .content {
                flex-basis: 45%;

                h3 {
                    @include terminamedium;
                    @include font36;
                    line-height: 140%;
                    font-weight: 600;
                    color: $quaternaryColor1;
                }

                p {
                    display: none;
                    margin-bottom: 48px;
                    color: $quaternaryColor1;
                    @include verdanaregular;
                    @include font16;
                    line-height: 175%;
                    font-weight: 400;
                    padding: 0px;
                }

                a {
                    display: none;
                }
            }

            .image {
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: 1;
                height: 0;
            }
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;

        h2 {
            margin-bottom: 22px;
        }
    
        p {
            margin-bottom: 54px;
        }
    
        .hover-section {
    
            .hover-box {
                padding: 60px 0px;
                @include wrapper;
                &:hover {
                    .content {
                        h3 {
                            margin-bottom: 30px;
                        }
                    }
                }
    
                .content {
                    p {
                        margin-bottom: 45px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
        margin-bottom: 160px;

        h2 {
            margin-bottom: 20px;
        }
    
        p {
            margin-bottom: 50px;
        }
    
        .hover-section {
    
            .hover-box {
                padding: 50px 0px;
                @include wrapper;
                &:hover {
                    .content {
                        h3 {
                            margin-bottom: 26px;
                        }
                    }
                }
    
                .content {
                    p {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){
        h2 {
            margin-bottom: 20px;
        }
    
        p {
            margin-bottom: 40px;
        }
    
        .hover-section {
    
            .hover-box {
                padding: 40px 0px;
                @include wrapper;
                &:hover {
                    .content {
                        h3 {
                            margin-bottom: 24px;
                        }
                    }
                }
    
                .content {
                    p {
                        margin-bottom: 36px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1280px){
        margin-bottom: 150px;
        h2 {
            margin-bottom: 18px;
        }
    
        p {
            margin-bottom: 36px;
        }
    
        .hover-section {
    
            .hover-box {
                padding: 36px 0px;
                @include wrapper;
                &:hover {
                    .content {
                        h3 {
                            margin-bottom: 22px;
                        }
                    }
                }
    
                .content {
                    p {
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

.partnersSection {
    margin-bottom: 200px;

    .partnersSectionWrapper {
        background: $quaternaryColor1;
        padding: 90px 0px;

        h3 {
            color: $primaryColor1;
            @include font32;
            line-height: 112.5%;
            text-transform: uppercase;
            font-weight: 700;
            @include terminabold;
            margin-bottom: 86px;
            text-align: center;
        }

        .logoSliderContainer {
            .logoSlider {
                .logo {
                    img {
                        margin: auto;
                    }
                }
            }
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;

        .partnersSectionWrapper {
            padding: 80px 0px;
    
            h3 {
                margin-bottom: 80px;
            }
        }
    }
    @media all and (max-width:1600px){
        margin-bottom: 160px;

        .partnersSectionWrapper {
            padding: 70px 0px;
    
            h3 {
                margin-bottom: 70px;
            }
        }
    }
    @media all and (max-width:1440px){
        .partnersSectionWrapper {
            padding: 60px 0px;
    
            h3 {
                margin-bottom: 60px;
            }
        }
    }
    @media all and (max-width:1280px){
        .partnersSectionWrapper {
            padding: 50px 0px;
    
            h3 {
                margin-bottom: 50px;
            }
        }
    }
}

.chargingSection {
    margin-bottom: 200px;

    .tab-wrapper {
        .tab-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 24px;
                color: $quaternaryColor1;
                text-align: center;
                @include terminabold;
                @include font48;
                font-weight: 700;
                line-height: 133.33%;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 32px;
                color: $quaternaryColor1;
                text-align: center;
                width: 65%;
                @include verdanaregular;
                @include font20;
                font-weight: 400;
                line-height: 160%;
            }

            .tab-buttons {
                display: flex;
                gap: 16px;
                margin-bottom: 32px;

                .tab-button {
                    padding: 15px 50px;
                    color: $quaternaryColor1;
                    @include verdanaregular;
                    font-weight: 400;
                    line-height: 140%;
                    @include font22;
                    border-radius: 100px;
                    border: 1px solid $quaternaryColor1;
                    cursor: pointer;
                    background: transparent;

                    &.active {
                        background: $quaternaryColor1;
                        color: $primaryColor1;
                    }
                }
            }
        }

        .tab-content {
            display: none;

            &.active {
                display: block;
            }

            .cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .card {
                    border: 1px solid $tertiaryColor3;
                    transition: all 0.3s ease-out;
                    min-height: 760px;

                    .card-wrapper {
                        padding: 70px 100px 100px;

                        img {
                            margin: auto;
                            padding-bottom: 50px;
                        }

                        h3 {
                            text-align: center;
                            margin-bottom: 32px;
                            color: $quaternaryColor1;
                            @include terminabold;
                            @include font36;
                            font-weight: 600;
                            line-height: 133.333%;
                        }

                        h5 {
                            text-align: center;
                            margin-bottom: 32px;
                            color: $quaternaryColor1;
                            @include terminamedium;
                            @include font18;
                            font-weight: 600;
                            line-height: 140%;
                        }

                        p {
                            text-align: center;
                            color: $quaternaryColor1;
                            @include verdanaregular;
                            @include font16;
                            font-weight: 400;
                            line-height: 175%;
                        }
                    }

                    &:hover {
                        background: $primaryColor1;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 8px;
                        }

                        .card-wrapper {
                            padding: 70px 100px 58px 100px;
                        }
                    }

                    a {
                        position: relative;
                        padding: 80px;
                        background: $quaternaryColor1;
                        color: $primaryColor1;
                        text-align: center;
                        @include terminamedium;
                        display: none;
                        width: 100%;

                        img {
                            width: 14px;
                            height: 14px;
                        }

                        &::before {
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            content: " ";
                            width: 0;
                            height: 0;
                            border-left: 20px solid transparent;
                            border-right: 20px solid transparent;
                            border-top: 20px solid $primaryColor1;
                            border-bottom: 20px solid transparent;
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;

        .tab-wrapper {
            .tab-header {
    
                h2 {
                    margin-bottom: 22px;
                }
    
                p {
                    margin-bottom: 30px;
                    width: 65%;
                }
    
                .tab-buttons {
                    gap: 15px;
                    margin-bottom: 30px;
    
                    .tab-button {
                        padding: 14px 40px;
                    }
                }
            }
    
            .tab-content {
                .cards {
                    .card {
                        min-height: 650px;
    
                        .card-wrapper {
                            padding: 60px 90px 90px;
    
                            img {
                                padding-bottom: 45px;
                            }
    
                            h3 {
                                margin-bottom: 30px;
                            }
    
                            h5 {
                                margin-bottom: 30px;
                            }
                        }
    
                        &:hover {
                            .card-wrapper {
                                padding: 60px 90px 50px 90px;
                            }
                        }
    
                        a {
                            padding: 70px;
    
                            img {
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
        margin-bottom: 160px;

        .tab-wrapper {
            .tab-header {
    
                h2 {
                    margin-bottom: 20px;
                }
    
                p {
                    margin-bottom: 28px;
                    width: 60%;
                }
    
                .tab-buttons {
                    gap: 14px;
                    margin-bottom: 26px;
    
                    .tab-button {
                        padding: 12px 36px;
                    }
                }
            }
    
            .tab-content {
                .cards {
                    .card {
                        min-height: 600px;
    
                        .card-wrapper {
                            padding: 50px 80px 80px;
    
                            img {
                                padding-bottom: 40px;
                            }
    
                            h3 {
                                margin-bottom: 24px;
                            }
    
                            h5 {
                                margin-bottom: 24px;
                            }
                        }
    
                        &:hover {
                            .card-wrapper {
                                padding: 50px 80px 40px 80px;
                            }
                        }
    
                        a {
                            padding: 60px;
    
                            img {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){

        .tab-wrapper {
            .tab-header {
    
                h2 {
                    margin-bottom: 18px;
                }
    
                p {
                    margin-bottom: 24px;
                }
    
                .tab-buttons {
                    gap: 14px;
                    margin-bottom: 24px;
    
                    .tab-button {
                        padding: 10px 32px;
                    }
                }
            }
    
            .tab-content {
                .cards {
                    .card {
                        min-height: 550px;
    
                        .card-wrapper {
                            padding: 40px 70px 70px;
    
                            img {
                                padding-bottom: 32px;
                            }
    
                            h3 {
                                margin-bottom: 20px;
                            }
    
                            h5 {
                                margin-bottom: 20px;
                            }
                        }
    
                        &:hover {
                            .card-wrapper {
                                padding: 40px 70px 30px 70px;
                            }
                        }
    
                        a {
                            padding: 50px;
    
                            img {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1280px){
        margin-bottom: 150px;
        .tab-wrapper {
            .tab-header {
    
                h2 {
                    margin-bottom: 16px;
                }
    
                p {
                    margin-bottom: 22px;
                }
    
                .tab-buttons {
                    gap: 12px;
                    margin-bottom: 22px;
    
                    .tab-button {
                        padding: 8px 26px;
                    }
                }
            }
    
            .tab-content {
                .cards {
                    .card {
                        min-height: 500px;
    
                        .card-wrapper {
                            padding: 30px 60px 60px;
    
                            img {
                                padding-bottom: 26px;
                            }
    
                            h3 {
                                margin-bottom: 18px;
                            }
    
                            h5 {
                                margin-bottom: 18px;
                            }
                        }
    
                        &:hover {
                            .card-wrapper {
                                padding: 30px 60px 24px 60px;
                            }
                        }
    
                        a {
                            padding: 40px;
    
                            img {
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.exploreSection {
    margin-bottom: 200px;

    .exploreSectionWrapper {
        display: flex;

        .leftContent {
            flex-basis: 50%;
            background: $primaryColor1;
            position: relative;
            padding: 132px 120px;

            .contentWrapper {
                width: 80%;

                h2 {
                    margin-bottom: 32px;
                    color: $quaternaryColor1;
                    @include terminabold;
                    @include font48;
                    font-weight: 700;
                    line-height: 133.333%;
                    text-transform: uppercase;
                }

                p {
                    margin-bottom: 56px;
                    @include verdanaregular;
                    @include font20;
                    font-weight: 400;
                    line-height: 160%;
                    color: $quaternaryColor1;
                }
            }
        }

        .rightContent {
            flex-basis: 50%;
            background: $quaternaryColor1;
            overflow: hidden;
            position: relative;

            &:hover {
                img {
                    transform: translate(-50%, 0px);
                    transition: 0.3s ease-in-out;
                }
            }

            img {
                transform: translate(-50%, 300px);
                left: 50%;
                position: absolute;
                bottom: 0;
            }
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;

        .exploreSectionWrapper {
    
            .leftContent {
                padding: 120px 110px;
    
                .contentWrapper {
    
                    h2 {
                        margin-bottom: 30px;
                    }
    
                    p {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
        margin-bottom: 160px;

        .exploreSectionWrapper {
    
            .leftContent {
                padding: 100px 90px;
    
                .contentWrapper {
    
                    h2 {
                        margin-bottom: 26px;
                    }
    
                    p {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){

        .exploreSectionWrapper {
    
            .leftContent {
                padding: 80px 70px;
    
                .contentWrapper {
    
                    h2 {
                        margin-bottom: 24px;
                    }
    
                    p {
                        margin-bottom: 36px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1280px){

        .exploreSectionWrapper {
    
            .leftContent {
                padding: 70px 60px;
    
                .contentWrapper {
    
                    h2 {
                        margin-bottom: 22px;
                    }
    
                    p {
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

.mapSection {
    margin-bottom: 200px;

    .mapSectionDivider {
        display: flex;
        align-items: stretch;

        .map {
            flex-basis: 80%;
            border-top: 1px solid $tertiaryColor3;
            border-bottom: 1px solid $tertiaryColor3;

            h2 {
                margin-bottom: 46px;
                margin-top: 56px;
                color: $quaternaryColor1;
                @include terminabold;
                @include font48;
                font-weight: 700;
                line-height: 133.333%;
                text-transform: uppercase;
                @include wrapper;
            }
        }

        .stats {
            flex-basis: 20%;

            .statCard {
                padding: 32px;
                background: $quaternaryColor1;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(216, 219, 220, 0.20);
                }

                h3 {
                    color: #fff;
                    @include terminamedium;
                    @include font52;
                    letter-spacing: -1.04px;
                    font-weight: 400;
                    margin-bottom: 12px;
                }

                h4 {
                    margin-bottom: 20px;
                    color: #fff;
                    @include terminamedium;
                    font-weight: 500;
                    line-height: 140%;
                }

                p {
                    color: #fff;
                    @include verdanaregular;
                    @include font16;
                    line-height: 175%;
                    font-weight: 400;
                }
            }
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;

        .mapSectionDivider {
    
            .map {
    
                h2 {
                    margin-bottom: 42px;
                    margin-top: 52px;
                }
            }
    
            .stats {
    
                .statCard {
                    padding: 30px;
    
                    h3 {
                        margin-bottom: 12px;
                    }
    
                    h4 {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
        margin-bottom: 160px;

        .mapSectionDivider {
            .map {
                h2 {
                    margin-bottom: 38px;
                    margin-top: 48px;
                }
            }
            .stats {
                .statCard {
                    padding: 26px;
                    h3 {
                        margin-bottom: 10px;
                    }
                    h4 {
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){

        .mapSectionDivider {
            .map {
                h2 {
                    margin-bottom: 32px;
                    margin-top: 40px;
                }
            }
            .stats {
                .statCard {
                    padding: 22px;
                    h3 {
                        margin-bottom: 10px;
                    }
                    h4 {
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }
    @media all and (max-width:1280px){

        .mapSectionDivider {
            .map {
                h2 {
                    margin-bottom: 24px;
                    margin-top: 32px;
                }
            }
            .stats {
                .statCard {
                    padding: 20px;
                    h3 {
                        margin-bottom: 10px;
                    }
                    h4 {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}

.testimonialSection {
    margin-bottom: 200px;

    h2 {
        margin-bottom: 56px;
        color: $quaternaryColor1;
        @include terminabold;
        @include font48;
        font-weight: 700;
        line-height: 133.333%;
        text-transform: uppercase;
        @include wrapper;
    }

    .testimonialCardWrapper {
        @include wrapper;
        padding-right: 0px;
        margin-bottom: 60px;

        .testimonialCard {
            border-right: 1px solid $quaternaryColor3;
            margin-right: 52px;
            padding: 40px 56px 40px 0px;
            width: 100%;

            img {
                margin-bottom: 40px;
            }

            p {
                margin-bottom: 40px;
                color: $quaternaryColor2;
                @include verdanaregular;
                @include font20;
                line-height: 160%;
            }

            .testimonial {
                display: flex;
                align-items: center;
                gap: 12px;

                .testimonialImage {
                    overflow: hidden;
                    border-radius: 50%;
                }

                h3 {
                    margin-bottom: 8px;
                    color: $quaternaryColor1;
                    @include verdanabold;
                    @include font20;
                    line-height: 140%;
                    text-transform: capitalize;
                }

                p {
                    color: #343434;
                    @include verdanaregular;
                    @include font20;
                    line-height: 150%;
                }
            }
        }
    }

    .progresBar {
        @include wrapper;

        .progress-bar-container {
            position: relative;
            width: 250px;
            height: 5px;
            background: #D8DBDC;
            overflow: hidden;
        }

        .progress-bar {
            height: 100%;
            width: 0;
            background: #1E1E1E;
            transition: width linear;
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;

        h2 {
            margin-bottom: 56px;
        }
    
        .testimonialCardWrapper {
            @include wrapper;
            padding-right: 0px;
            margin-bottom: 50px;
    
            .testimonialCard {
                margin-right: 52px;
                padding: 36px 50px 36px 0px;
                width: 100%;
    
                img {
                    margin-bottom: 36px;
                }
    
                p {
                    margin-bottom: 36px;
                }
    
                .testimonial {
                    gap: 12px;
    
                    h3 {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    
        .progresBar {
            .progress-bar-container {
                width: 240px;
                height: 5px;
            }
        }
    }
    @media all and (max-width:1600px){
        margin-bottom: 160px;

        h2 {
            margin-bottom: 50px;
        }
    
        .testimonialCardWrapper {
            @include wrapper;
            padding-right: 0px;
            margin-bottom: 46px;
    
            .testimonialCard {
                margin-right: 48px;
                padding: 32px 40px 32px 0px;
    
                img {
                    margin-bottom: 32px;
                }
    
                p {
                    margin-bottom: 32px;
                }
    
                .testimonial {
                    gap: 10px;
    
                    h3 {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    
        .progresBar {
            .progress-bar-container {
                width: 240px;
                height: 5px;
            }
        }
    }
    @media all and (max-width:1440px){

        h2 {
            margin-bottom: 40px;
        }
    
        .testimonialCardWrapper {
            @include wrapper;
            padding-right: 0px;
            margin-bottom: 40px;
    
            .testimonialCard {
                margin-right: 40px;
                padding: 30px 32px 28px 0px;
    
                img {
                    margin-bottom: 30px;
                }
    
                p {
                    margin-bottom: 30px;
                }
    
                .testimonial {
                    gap: 10px;
    
                    h3 {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    
        .progresBar {
            .progress-bar-container {
                width: 200px;
                height: 5px;
            }
        }
    }
    @media all and (max-width:1280px){
        margin-bottom: 150px;
    }
}

.formSection {
    margin-bottom: 200px;

    .formWrapper {
        padding: 60px 0px;
        @include wrapper;
        background: $primaryColor1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .formTitle {flex-basis: 40%;margin-right:120px;flex-shrink:0;
            h2 {
                color: $quaternaryColor1;
                margin-bottom: 32px;
                @include terminabold;
                @include font36;
                line-height: 140%;
                letter-spacing: -0.72px;
                text-transform: uppercase;
            }

            p {
                color: $quaternaryColor1;
                @include verdanaregular;
                @include font20;
                line-height: 150%;
            }
        }

        .input {flex-basis: 30%;margin-right:56px;display:flex;flex-direction:column;gap:17px;flex-shrink:0;
            label {color: $quaternaryColor1;@include terminabold;@include font18;}
            input {width: 100%;background: transparent;border-bottom: 1px solid rgba(62, 62, 62, 0.27);color: $quaternaryColor1;@include verdanaregular;@include font16;padding: 7px 0px 14px 0px;
                &::placeholder{color: $quaternaryColor1;@include verdanaregular;@include font16;}
            }
        }
        .ctaDiv{flex-basis: 15%;}
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;

        .formWrapper {
            padding: 55px 0px;
            @include wrapper;
    
            .formTitle {margin-right:100px;
                h2 {
                    margin-bottom: 32px;
                }
            }
    
            .input {margin-right:50px;gap:16px;
                input {padding: 7px 0px 14px 0px;}
            }
        }
    }
    @media all and (max-width:1600px){
        margin-bottom: 160px;

        .formWrapper {
            padding: 50px 0px;
            @include wrapper;
    
            .formTitle {margin-right:80px;
                h2 {
                    margin-bottom: 30px;
                }
            }
    
            .input {margin-right:45px;gap:14px;
                input {padding: 6px 0px 12px 0px;}
            }
        }
    }
    @media all and (max-width:1440px){

        .formWrapper {
            padding: 40px 0px;
            @include wrapper;
    
            .formTitle {margin-right:70px;
                h2 {
                    margin-bottom: 26px;
                }
            }
    
            .input {margin-right:40px;gap:12px;
                input {padding: 6px 0px 12px 0px;}
            }
        }
    }
    @media all and (max-width:1280px){
margin-bottom: 150px;
        .formWrapper {
            padding: 36px 0px;
            @include wrapper;
        }
    }
}