.productBanner{margin-bottom: 200px;@include wrapper;margin-top: 162px;
    &#animatedBanner{
        .productBannerWrapper{
            .bannerHeading{opacity: 1;}
            .productDetails{opacity: 1;}
            .bannerImages{.productImage{transform: translate(0);}}
            .ctaDiv{opacity: 1;}
        }
    }
    .productBannerWrapper{display: flex;flex-direction:column;align-items:center;
        .bannerHeading{transition: 0.8s all ease-in-out;opacity: 0;
            h1{margin-bottom: 4px;@include terminamedium;@include font64;line-height: 150%;text-transform: uppercase;font-weight: 600;}
        }
        .productDetails{display: flex;gap:120px;margin-bottom:42px;transition: 0.8s all ease-in-out;opacity: 0;
            p{@include terminaregular;@include font18;font-weight: 600;line-height: 155.556%;color: #1E1E1E;position:relative;
                &:not(:last-child){
                    &::after{content: "";position: absolute;top: 50%;transform: translateY(-50%);width: 13px;height: 13px;background: #787878;border-radius: 50%;right: -60px;}
                }
            }
        }
        .bannerImages{position: relative;width: 90%;margin-bottom:26px;
            .productImage{position: relative;z-index: 2;margin: 0 auto;height: 530px;transform: translateY(-160%);transition: 0.8s all ease-in-out;}
            .bannerBg{position: absolute;top: 50%;transform: translateY(-50%);}
        }
        .ctaDiv{display: flex;gap: 36px;transition: 0.8s all ease-in-out;opacity: 0;}
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;margin-top: 162px;
    .productBannerWrapper{
        .bannerHeading{
            h1{margin-bottom: 4px;}
        }
        .productDetails{margin-bottom:42px;
            p{
                &:not(:last-child){
                    &::after{width: 13px;height: 13px;}
                }
            }
        }
        .bannerImages{margin-bottom:26px;.productImage{height: 450px;}}
        .ctaDiv{gap: 36px;}
    }
    }
    @media all and (max-width:1600px){
        margin-bottom: 150px;margin-top: 130px;
    .productBannerWrapper{
        .productDetails{gap:100px;margin-bottom:36px;
            p{
                &:not(:last-child){
                    &::after{width: 10px;height: 10px;right: -50px;}
                }
            }
        }
        .bannerImages{margin-bottom:24px;
            .productImage{height: 350px;}
        }
        .ctaDiv{gap: 34px;}
    }
    }
    @media all and (max-width:1440px){
        margin-bottom: 120px;margin-top: 110px;
    .productBannerWrapper{
        .productDetails{gap:90px;margin-bottom:32px;
            p{
                &:not(:last-child){
                    &::after{width: 10px;height: 10px;right: -45px;}
                }
            }
        }
        .bannerImages{margin-bottom:20px;.productImage{height: 300px;}}
        .ctaDiv{gap: 30px;}
    }
    }
    @media all and (max-width:1280px){
    margin-top: 100px;
    .productBannerWrapper{
        .productDetails{gap:80px;margin-bottom:28px;
            p{
                &:not(:last-child){
                    &::after{width: 8px;height: 8px;right: -40px;}
                }
            }
        }
        .bannerImages{margin-bottom:18px;}
        .ctaDiv{gap: 24px;}
    }
    }
    @media all and (max-width:1024px){
        margin-top: 120px;

        }
    @media all and (max-width:820px){
        margin-top: 110px;
        .productBannerWrapper{
            .productDetails{gap:40px;margin-bottom:24px;
                p{
                    &:not(:last-child){
                        &::after{width: 6px;height: 6px;right: -23px;}
                    }
                }
            }
            .bannerImages{margin-bottom:18px;.productImage{height: 330px;transform: translateY(-200%);}}
            .ctaDiv{gap: 20px;}
        }
    }
    @media all and (max-width:680px){
        margin-bottom: 100px;
        .productBannerWrapper{align-items: flex-start;
            .bannerHeading{
                h1{margin-bottom: 24px;font-size: 24px;font-weight: 600;line-height: 32px;}
            }
            .productDetails{gap:4px;margin-bottom:48px;flex-direction:column;
                p{font-size: 12px;font-weight: 500;line-height: 28px;
                    span{font-weight: 700;@include terminamedium;}
                    &:not(:last-child){
                        &::after{width: 180px;height: 1px;right: unset;left: 0;bottom: -4px;top:unset;transform: none;background: #A5A5A5;}
                    }
                }
            }
            .bannerImages{margin-bottom:48px;width:100%;.productImage{height: 230px;transform: translateY(-250%);}}
            .ctaDiv{gap: 16px;flex-direction: column;margin: 0 auto;align-items: center;}
        }
    }
}

.secondFold{margin-bottom: 200px;@include wrapper;
    .secondFoldWrapper{display: grid;grid-template-columns:repeat(3,1fr);
        .industryCard{padding: 36px 53px 0px 0px;&:not(:last-child){margin-right: 53px;border-right: 1px solid #D9D9D9;;}
            .imageDiv{margin-bottom: 48px;width: 180px;height: 180px;padding: 40px;border-radius: 50%;border:1px solid $quaternaryColor1;img{width: 100%;height: 100%;}}
            h3{margin-bottom: 24px;@include terminamedium;@include font32;font-weight: $fontW600;line-height: 112.5%;color: #000;}
            p{@include verdanaregular;@include font20;line-height: 168%;font-weight: $fontW400;}
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;
    .secondFoldWrapper{
        .industryCard{padding: 35px 48px 0px 0px;&:not(:last-child){margin-right: 48px;}
            .imageDiv{margin-bottom: 45px;padding: 36px;}
            h3{margin-bottom: 24px}
        }
    }
    }
    @media all and (max-width:1600px){
        margin-bottom: 150px;
    .secondFoldWrapper{
        .industryCard{padding: 32px 40px 0px 0px;&:not(:last-child){margin-right: 40px;}
            .imageDiv{margin-bottom: 40px;width: 140px;height: 140px;padding: 32px;}
            h3{margin-bottom: 22px}
        }
    }
    }
    @media all and (max-width:1440px){
        margin-bottom: 120px;
    .secondFoldWrapper{
        .industryCard{padding: 24px 30px 0px 0px;&:not(:last-child){margin-right: 30px;}
            .imageDiv{margin-bottom: 32px;width: 120px;padding: 30px;height: 120px;}
            h3{margin-bottom: 20px}
        }
    }
    }
    @media all and (max-width:1280px){
    .secondFoldWrapper{
        .industryCard{padding: 20px 24px 0px 0px;&:not(:last-child){margin-right: 24px;}
            .imageDiv{margin-bottom: 32px;width: 100px;padding: 24px;height: 100px;}
            h3{margin-bottom: 18px}
        }
    }
    }
    @media all and (max-width:1024px){
        .secondFoldWrapper{
            .industryCard{padding: 14px 20px 0px 0px;&:not(:last-child){margin-right: 20px;}
                .imageDiv{margin-bottom: 28px;width: 80px;padding: 20px;height: 80px;}
                h3{margin-bottom: 14px}
            }
        }
    }
    @media all and (max-width:820px){
        margin-bottom: 72px;
    .secondFoldWrapper{grid-template-columns:repeat(1,1fr);
        .industryCard{padding: 0px 0px 32px 0px;&:not(:last-child){margin-right: 0;border-bottom: 1px solid #D9D9D9;margin-bottom: 32px;border-right: 0px;}
            .imageDiv{margin-bottom: 24px;width: 96px;padding: 22px;height: 96px;}
            h3{margin-bottom: 16px;font-size: 20px;font-style: normal;font-weight: 600;line-height: 28px;}
            p{font-size: 12px;font-style: normal;font-weight: 400;line-height: 18px;}
        }
    }
    }
}

.industryStandardSection{margin-bottom: 200px;
    &#industry-standard{
        .scaleImage{
            img{
                animation: zoomeffect 20s forwards;}
        }
    }
    .sectionWrapper{
        .scaleImage{overflow: hidden;
            .desktopImage{overflow: hidden;transition:2s all ease-in-out;}
            .mobileImage{display: none;overflow: hidden;transition:2s all ease-in-out;}
        }
        .videoDiv{overflow: hidden;
            .mobileVideo{display: none;width: 100%;}
            .desktopVideo{width: 100%;}
        }
        .bottomInfo{margin-top: 72px;display:flex;justify-content:space-between;@include wrapper;
            h3{@include terminamedium;@include font36;font-weight: $fontW600;line-height: 133.333%;width: 50%;}
            .autoScroller{display: flex;gap:32px;width: 30%;align-items:flex-start;
                .image{flex-shrink: 0;width: 64px;height: 64px;}
                .scrollAnimation{height: 190px;overflow: hidden;position: relative;
                    .animationWrapper{height: 190px;
                        .animate{padding-bottom:29px;transition:0.3s all ease-in-out;
                            &.slick-slide{@include verdanaregular;color: #000000;@include font24;font-weight: 400;line-height: 166.66%;transition:0.3s all ease-in-out;}
                            &.slick-current{padding-top: 10px;color: #006E50;@include verdanabold;font-weight: 700;@include font32;line-height: 137.5%;transition:0.3s all ease-in-out;}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;
    .sectionWrapper{
        .bottomInfo{margin-top: 70px;
            h3{width: 50%;}
            .autoScroller{gap:30px;width: 30%;
                .scrollAnimation{height: 190px;
                    .animationWrapper{height: 190px;
                        .animate{padding-bottom:28px;
                            &.slick-current{padding-top: 10px;}
                        }
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:1600px){
        margin-bottom: 150px;
    .sectionWrapper{
        .bottomInfo{margin-top: 60px;
            h3{width: 50%;}
            .autoScroller{gap:28px;width: 30%;
                .image{width: 58px;height: 58px;}
                .scrollAnimation{height: 180px;
                    .animationWrapper{height: 180px;
                        .animate{padding-bottom:26px;}
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:1440px){
        margin-bottom: 120px;
    .sectionWrapper{
        .bottomInfo{margin-top: 56px;
            h3{width: 50%;}
            .autoScroller{gap:24px;width: 30%;
                .image{width: 54px;height: 54px;}
                .scrollAnimation{height: 160px;
                    .animationWrapper{height: 160px;
                        .animate{padding-bottom:20px;
                            &.slick-current{padding-top: 9px;}
                        }
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:1280px){
    .sectionWrapper{
        .bottomInfo{margin-top: 50px;
            h3{width: 50%;}
            .autoScroller{gap:20px;width: 32%;
                .image{width: 50px;height: 50px;}
                .scrollAnimation{height: 150px;
                    .animationWrapper{height: 150px;
                        .animate{padding-bottom:16px;}
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:1024px){
    .sectionWrapper{
        .bottomInfo{
            h3{width: 50%;}
            .autoScroller{gap:16px;width: 35%;
                .scrollAnimation{height: 150px;
                    .animationWrapper{height: 150px;
                        .animate{padding-bottom:16px;}
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:820px){
    .sectionWrapper{
        .bottomInfo{margin-top: 45px;
            h3{width: 50%;}
            .autoScroller{gap:20px;width: 40%;
                .image{width: 45px;height: 45px;}
                .scrollAnimation{height: 120px;
                    .animationWrapper{height: 120px;
                        .animate{padding-bottom:12px;}
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:680px){
        margin-bottom: 72px;
    .sectionWrapper{
        .scaleImage{
            .desktopImage{display: none;}
            .mobileImage{display: block;width: 100%;}
        }
        .videoDiv{
            .mobileVideo{display: block;width: 100%;}
            .desktopVideo{display: none;}
        }
        .bottomInfo{margin-top: 36px;flex-direction:column;gap:24px;
            h3{width: 100%;font-size: 20px;line-height: 28px;}
            .autoScroller{flex-direction: column;gap:16px;width: 100%;
                .image{width: 60px;height: 60px;}
                .scrollAnimation{height: 90px;
                    .animationWrapper{height: 90px;
                        .animate{padding-bottom:13px;
                            &.slick-slide{font-size: 11.57px;line-height: 19.28px;}
                            &.slick-current{padding-top: 0px;font-size: 15.427px;line-height:21.212px;font-weight: 700;}
                        }
                    }
                }
            }
        }
    }
    }
}

.productInfoSection{margin-bottom: 200px;@include wrapper;border-top:1px solid #4B4B4B;border-bottom:1px solid #4B4B4B;
    &#product-info{
        .productInfoWrapper{
            .productDetails{transform: translateY(0);opacity: 1;
                .feature{
                    .information{
                        &::before{content: "";}
                        h4{opacity: 1;height: auto;}
                        p{opacity: 1;height: auto;}
                    }
                }
            }
        }
    }
    .productInfoWrapper{padding: 110px 0px 33px 0px;
        .headingWrapper{margin-bottom: 62px;display:flex;flex-direction:column;align-items:center;
            h2{@include terminabold;@include font48;font-weight: 700;line-height: 133.333%;margin-bottom: 24px;text-transform: uppercase;color: #1E1E1E;text-align: center;}
            p{@include verdanaregular;@include font24;font-weight: 400;line-height: 166.667%;color: #4B4B4B;text-align: center;width: 70%;}
        }
        .productDetails{display: flex;gap:115px;opacity: 0;;align-items:end;transition: 2s all ease-in-out;transform:translateY(-150px);justify-content:space-between;
            .feature{width: 30%;order:1;
                &:nth-child(even){order: 3;
                    .information{
                        &::before{left: 0;}
                        h4{padding-left: 13px;}
                        p{padding-left: 13px;}
                    }
                }
                .information{padding-top: 32px;border-top:1px solid #1E1E1E;margin-bottom:80px;position:relative;
                    &::before{content: none;position: absolute;top: -7px;right: 0;width: 13px;height: 13px;border-radius: 50%;background: #1E1E1E;transition: 2s all ease-in-out;}
                    h4{@include terminamedium;@include font24;font-weight: 700;line-height: 133.333%;margin-bottom: 20px;color: #1E1E1E;padding-right: 13px;opacity: 0;transition: 2s all ease-in-out;height: 20px;}
                    p{@include verdanaregular;@include font16;line-height: 175%;font-weight: 400;padding-right: 13px;opacity: 0;transition: 2s all ease-in-out;height: 20px;}
                }
            }
            .middle{width:374px;order: 2;height: 660px;img{height: 100%;width: 100%;}}
            .mobileUi{display: none;}
        }
    }
    @media all and (max-width:1800px){
        margin-bottom: 180px;
    .productInfoWrapper{padding: 100px 0px 32px 0px;
        .headingWrapper{margin-bottom: 60px;
            h2{margin-bottom: 22px;}
        }
        .productDetails{gap:100px;
            .feature{
                .information{padding-top: 30px;margin-bottom:75px;
                    &::before{top: -7px;right: 0;width: 13px;height: 13px;}
                    h4{margin-bottom: 20px;padding-right: 13px;}
                    p{padding-right: 13px;}
                }
                &:nth-child(even){
                    .information{
                        h4{padding-left: 13px;}
                        p{padding-left: 13px;}
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:1600px){
        margin-bottom: 150px;
    .productInfoWrapper{padding: 90px 0px 30px 0px;
        .headingWrapper{margin-bottom: 60px;
            h2{margin-bottom: 20px;}
        }
        .productDetails{gap:90px;transform:translateY(-120px);
            .feature{
                .information{padding-top: 24px;margin-bottom:60px;
                    &::before{top: -6px;width: 11px;height: 11px;}
                    h4{margin-bottom: 18px;padding-right: 11px;}
                    p{padding-right: 11px;}
                }
                &:nth-child(even){
                    .information{
                        h4{padding-left: 11px;}
                        p{padding-left: 11px;}
                    }
                }
            }
            .middle{width:300px;height: 520px;}
        }
    }
    }
    @media all and (max-width:1440px){
        margin-bottom: 120px;
    .productInfoWrapper{padding: 80px 0px 26px 0px;
        .headingWrapper{margin-bottom: 50px;
            h2{margin-bottom: 20px;}
        }
        .productDetails{transform:translateY(-100px);
            .feature{
                .information{padding-top: 22px;margin-bottom:50px;
                    &::before{top: -6px;width: 10px;height: 10px;}
                    h4{margin-bottom: 15px;padding-right: 10px;}
                    p{padding-right: 10px;}
                }
                &:nth-child(even){
                    .information{
                        h4{padding-left: 10px;}
                        p{padding-left: 10px;}
                    }
                }
            }
            .middle{width:250px;height: 500px;}
        }
    }
    }
    @media all and (max-width:1280px){
        margin-bottom: 120px;
    .productInfoWrapper{padding: 70px 0px 22px 0px;
        .headingWrapper{margin-bottom: 50px;
            h2{margin-bottom: 16px;}
        }
        .productDetails{gap:80px;
            .feature{
                .information{padding-top: 20px;margin-bottom:45px;
                    h4{margin-bottom: 15px;}
                }
            }
            .middle{width:250px;height: 450px;}
        }
    }
    }
    @media all and (max-width:820px){
        margin-bottom: 72px;
    .productInfoWrapper{padding: 48px 0px 125px 0px;
        .headingWrapper{margin-bottom: 48px;display:block;
            h2{margin-bottom: 12px;font-size: 24px;line-height: 32px;font-weight: 700;text-align: left;}
            p{width: 100%;text-align: left;font-size: 12px;line-height: 18px;text-align: left;}
        }
        .productDetails{gap:32px;flex-direction:column;transform:translateY(0);align-items:center;opacity: 1;
            .feature,.right{display: none;}
            .middle{width:175px;order:1;height: auto;}
            .mobileUi{display: block;width: 100%;order:2;
                .mobileSliderContainer{position: relative;
                    .sliderContent{
                        h4{@include terminamedium;font-size: 20px;line-height: 28px;font-weight: 600;margin-bottom: 12px;}
                        p{@include verdanaregular;font-weight: 400;font-size: 12px;line-height: 18px;}
                    }
                    .slick-prev,
                    .slick-next {padding: 12px;position: absolute;top: 150%;width: 36px;height: 36px;cursor: pointer;z-index: 2;border-radius:50%;border:1px solid $quaternaryColor1;
                        &::before{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-60%);}
                        &.slick-next {left:52px;
                           &::before {
                                content: url(../images/next-button.svg);
                            }
                        }
                        &.slick-prev {left: 0px;
                            &::before {
                                content: url(../images/prev-button.svg);
                            }
                        }
                    }
                }
            }
        }
    }
    }
}

.technicalDetailsSection{margin-bottom:200px;@include wrapper;
    &#technical-details{
        .technicalDetailsWrapper{
            .image{
                .desktopImage{animation: zoomeffect 20s forwards;}.mobileImage{animation: zoomeffect 20s forwards;}
            }
        }
    }
    .technicalDetailsWrapper{display: flex;justify-content:space-between;gap:140px;
        .accordionContainer{width:55%;
            .accordionHeading{
                h2{margin-bottom: 48px;@include terminabold;@include font48;font-weight: 700;line-height: 133.333%;text-transform: uppercase;}
            }
            .accordions-wrapper {display: flex;flex-direction: column;
                .accordion {border-bottom: 1px solid $quaternaryColor1;
                    &.active {padding-bottom: 26px;
                        .accordion-header {padding-bottom: 16px;transition: 0.5s all ease-in-out;
                            .accordian-icon-wrapper {background: $primaryColor1;
                                .accordion-icon {
                                    &::after {transform: rotate(90deg);transition: 0.5s all ease-in-out;width: 0px;}
                                }
                            }
                        }
                    }
                    .accordion-header{cursor: pointer;display: flex;gap: 24px;align-items: center;transition: 0.4s all ease-in-out;padding: 24px 0px;
                        h4 {@include terminabold;@include font24;line-height: 133.333%;color: $quaternaryColor1;width: 95%;font-weight: 700;order: 1;transition: 0.5s all ease-in-out;text-transform: uppercase;}
                        .accordian-icon-wrapper {order: 2;padding: 16px;transition: 0.5s all ease-in-out;
                            .accordion-icon {position: relative;width: 24px;height: 24px;transition: 0.5s all ease-in-out;
                                &::after {content: "";position: absolute;left: 50%;background: #000000;height: 100%;width: 3px;transform: translateX(-50%);transition: 0.3s all ease-in-out;}
                                &::before {content: "";position: absolute;top: 50%;background: #000000;width: 100%;height: 3px;transform: translateY(-50%) rotate(180deg);}
                            }
                        }
                    }
                    .accordion-body {transition: 0.5s all ease-in-out;max-height: 0;overflow: hidden;width: 90%;padding: 0px;
                        ul{padding-left: 22px;
                            li{position: relative;@include verdanaregular;@include font20;font-weight: 400;line-height: 160%;color:#696969;
                                &::before{position: absolute;content: "";width: 9px;height: 9px;border-radius: 50%;background: #696969;left: -22px;top: 12px;}
                            }
                        }
                        p{@include verdanaregular;@include font20;font-weight: 400;line-height: 168%;color:#696969;}
                    }
                    &.active {
                        .accordion-icon img {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }
        .image{width: 40%;.desktopImage{width:100%}.mobileImage{display: none;}}
    }
    @media all and (max-width:1800px){
        margin-bottom:180px;
    .technicalDetailsWrapper{gap:120px;
        .accordionContainer{width:55%;
            .accordionHeading{
                h2{margin-bottom: 45px;}
            }
            .accordions-wrapper {
                .accordion {
                    &.active {padding-bottom: 24px;
                        .accordion-header {padding-bottom: 14px;}
                    }
                    .accordion-header{gap: 22px;padding: 22px 0px;
                        h4 {width: 100%;}
                    }
                    .accordion-body {width: 90%;padding: 0px;
                        ul{padding-left: 22px;
                            li{
                                &::before{width: 9px;height: 9px;left: -22px;top: 11px;}
                            }
                        }
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:1600px){
        margin-bottom:150px;
    .technicalDetailsWrapper{gap:100px;
        .accordionContainer{width:55%;
            .accordionHeading{
                h2{margin-bottom: 40px;}
            }
            .accordions-wrapper {
                .accordion {
                    &.active {padding-bottom: 22px;
                        .accordion-header {padding-bottom: 12px;}
                    }
                    .accordion-header{gap: 20px;padding: 20px 0px;
                        .accordian-icon-wrapper {
                            padding: 14px;

                            .accordion-icon {
                                width: 22px;
                                height: 22px;

                                &::after {
                                    width: 3px;
                                }

                                &::before {
                                    height: 3px;
                                }
                            }
                        }
                    }
                    .accordion-body {width: 90%;padding: 0px;
                        ul{padding-left: 22px;
                            li{
                                &::before{width: 8px;height: 8px;left: -22px;}
                            }
                        }
                    }
                }
            }
        }
    }
    }
    @media all and (max-width:1440px){
        margin-bottom:120px;
    .technicalDetailsWrapper{gap:80px;
        .accordionContainer{width:54%;
            .accordionHeading{
                h2{margin-bottom: 40px;}
            }
            .accordions-wrapper {
                .accordion {
                    &.active {padding-bottom: 20px;
                        .accordion-header {padding-bottom: 10px;}
                    }
                    .accordion-header{gap: 18px;padding: 18px 0px;
                        .accordian-icon-wrapper {
                            padding: 12px;

                            .accordion-icon {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                    .accordion-body {
                        ul{padding-left: 20px;
                            li{
                                &::before{width: 7px;height: 7px;left: -20px;top: 10px;}
                            }
                        }
                    }
                }
            }
        }
        .image{width: 40%;}
    }
    }
    @media all and (max-width:1280px){
    .technicalDetailsWrapper{
        .accordionContainer{width:52%;
            .accordionHeading{
                h2{margin-bottom: 36px;}
            }
            .accordions-wrapper {
                .accordion {
                    &.active {padding-bottom: 18px;
                        .accordion-header {padding-bottom: 8px;}
                    }
                    .accordion-header{gap: 16px;padding: 16px 0px;
                        .accordian-icon-wrapper {
                            padding: 12px;

                            .accordion-icon {
                                width: 20px;
                                height: 20px;

                                &::after {
                                    width: 2px;
                                }

                                &::before {
                                    height: 2px;
                                }
                            }
                        }
                    }
                    .accordion-body {
                        ul{
                            li{
                                &::before{width: 6px;height: 6px;top: 9px;}
                            }
                        }
                    }
                }
            }
        }
        .image{width: 42%;}
    }
    }
    @media all and (max-width:1180px){
        .technicalDetailsWrapper{
            .accordionContainer{width:52%;
                .accordionHeading{
                    h2{margin-bottom: 36px;}
                }
                .accordions-wrapper {
                    .accordion {
                        &.active {padding-bottom: 15px;
                            .accordion-header {padding-bottom: 8px;}
                        }
                        .accordion-header{gap: 16px;padding: 14px 0px;}
                        .accordion-body {
                            ul{
                                li{
                                    &::before{width: 6px;height: 6px;}
                                }
                            }
                        }
                    }
                }
            }
            .image{width: 44%;}
        }
    }
    @media all and (max-width:820px){
        margin-bottom:72px;padding:0px;
    .technicalDetailsWrapper{flex-direction: column;gap:42px;
        .accordionContainer{width:100%;@include wrapper;
            .accordionHeading{
                h2{margin-bottom: 36px;font-size:24px;line-height: 32px;}
            }
            .accordions-wrapper {
                .accordion {
                    &.active {padding-bottom: 20px;
                        .accordion-header {padding-bottom: 12px;}
                    }
                    .accordion-header{gap: 16px;padding: 16px 0px;
                        h4 {width: 100%;font-size:12px;line-height: 24px;}
                        .accordian-icon-wrapper {
                            padding: 9px;
                            .accordion-icon {
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                    .accordion-body {
                        ul{padding-left: 16px;
                            li{
                                &::before{width: 5px;height: 5px;left: -16px;top: 10px;}
                            }
                        }
                    }
                }
            }
        }
        .image{width: 100%;
            .desktopImage{display: none;}
            .mobileImage{display: block;width: 100%;}
        }
    }
    }
    @media all and (max-width:680px){
    .technicalDetailsWrapper{
        .accordionContainer{
            .accordions-wrapper {
                .accordion {
                    .accordion-body {
                        ul{
                            li{
                                &::before{top: 7px;}
                            }
                        }
                    }
                }
            }
        }
        .image{width: 100%;
            .desktopImage{display: none;}
            .mobileImage{display: block;width: 100%;}
        }
    }
    }
}

.productFormSection {
    .formWrapper {
        .formTitle {
            h2 {
                @include font48;
                line-height: 133.33%;
                text-transform: uppercase;
            }
        }
    }
}

.productSection {
    margin-bottom: 250px;
    .productWrapper {
        .productHeader {
            h2 {margin-bottom: 64px;color: $quaternaryColor1;text-align: center;@include terminabold;@include font48;font-weight: 700;line-height: 133.33%;text-transform: uppercase;}
        }
        .tabContent {
            .cards {
                border-bottom: 1px solid $tertiaryColor3;
                border-top: 1px solid $tertiaryColor3;
                .card {
                    border-right: 1px solid $tertiaryColor3;
                    transition: all 0.3s ease-out;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: -2px;
                    z-index: 1;

                    .card-wrapper {
                        padding: 70px 100px 58px 100px;
                        transition: all 0.4s ease-out;
                        transform: translateY(30px);

                        img {
                            margin: auto;
                            padding-bottom: 50px;
                        }

                        h3 {
                            text-align: center;
                            margin-bottom: 32px;
                            color: $quaternaryColor1;
                            @include terminamedium;
                            @include font36;
                            font-weight: 600;
                            line-height: 133.333%;
                        }

                        h5 {
                            text-align: center;
                            margin-bottom: 32px;
                            color: $quaternaryColor1;
                            @include terminamedium;
                            @include font18;
                            font-weight: 600;
                            line-height: 140%;
                        }

                        p {
                            text-align: center;
                            color: $quaternaryColor1;
                            @include verdanaregular;
                            @include font16;
                            font-weight: 400;
                            line-height: 175%;
                        }
                    }

                    &.active {
                        background: $primaryColor1;
                        z-index: 2;

                        .card-wrapper{transform: translateY(0);}

                        a {
                            opacity: 1;
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        position: relative;
                        background: $primaryColor1;
                        color: $primaryColor1;
                        text-align: center;
                        @include terminamedium;
                        @include font18;
                        opacity: 0;
                        width: 100%;
                        z-index: 2;
                        padding: 80px;
                        transition: all 0.4s ease-out;

                        .fontellowRightArrow{color: $primaryColor1; @include font18;}

                        &::before {
                            position: absolute;
                            content: " ";
                            top: 0;
                            left: 0;
                            width: 51%;
                            height: 100%;
                            background: $quaternaryColor1;
                            border-top-right-radius: 50px;
                            z-index: -1;
                        }

                        &::after {
                            position: absolute;
                            content: " ";
                            top: 0;
                            right: 0;
                            width: 51%;
                            height: 100%;
                            background: $quaternaryColor1;
                            border-top-left-radius: 50px;
                            z-index: -1;
                        }
                    }
                } 
                .slick-prev,
                .slick-next {padding: 12px;position: absolute;top: 110%;width: 48px;height: 48px;cursor: pointer;z-index: 2;border-radius:50%;border:1px solid $quaternaryColor1;
                    &::before{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-55%);}
                    &.slick-next {right: calc(50% - 60px);
                       &::before {
                            content: url(../images/next-button.svg);
                        }
                    }
                    &.slick-prev {left: calc(50% - 60px);
                        &::before {
                            content: url(../images/prev-button.svg);
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1800px){
        margin-bottom:230px;
        .productWrapper {
            .productHeader {
                h2 {margin-bottom: 62px;}
            }
            .tabContent {
                .cards {
                    .card {
                        .card-wrapper {
                            padding: 50px 80px 40px 80px;

                            img {
                                padding-bottom: 40px;
                            }

                            h3 {
                                margin-bottom: 30px;
                            }

                            h5 {
                                margin-bottom: 30px;
                            }
                        }


                        a {
                            padding: 65px;

                            img {
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
        margin-bottom: 200px;
        .productWrapper {
            .productHeader {
                h2 {margin-bottom: 56px;}
            }
            .tabContent {
                .cards {
                    .card {
                        .card-wrapper {
                            padding: 36px 60px 32px 60px;

                            img {
                                padding-bottom: 32px;
                            }

                            h3 {
                                margin-bottom: 20px;
                            }

                            h5 {
                                margin-bottom: 20px;
                            }
                        }
                        a {
                            padding: 50px;
                            &::after{border-top-left-radius: 40px;}
                            &::before{border-top-right-radius: 40px;}

                            img {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                    .slick-prev,
                    .slick-next {width: 40px;height: 40px;
                        
                        &.slick-next {right: calc(50% - 50px)}
                        &.slick-prev {left: calc(50% - 50px)}
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){
        margin-bottom: 180px;
        .productWrapper {
            .productHeader {
                h2 {margin-bottom: 48px;}
            }
            .tabContent {
                .cards {
                    .card {

                        .card-wrapper {
                            padding: 32px 50px 24px 50px;

                            img {
                                padding-bottom: 24px;
                            }

                            h3 {
                                margin-bottom: 16px;
                            }

                            h5 {
                                margin-bottom: 16px;
                            }
                        }


                        a {
                            padding: 40px;
                            &::after{border-top-left-radius: 30px;}
                            &::before{border-top-right-radius: 30px;}

                            img {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                    .slick-prev,
                    .slick-next {width: 36px;height: 36px; 
                        &::before{transform: translate(-50%,-60%);}
                        &.slick-next {right: calc(50% - 50px);}
                        &.slick-prev {left: calc(50% - 50px);}
                    }
                }
            }
        }
    }
    @media all and (max-width:1280px){
        .productWrapper {
            .productHeader {
                h2 {margin-bottom: 40px;}
            }
            .tabContent {
                .cards {
                    .card {
                        .card-wrapper {
                            padding: 20px 40px 16px 40px;

                            img {
                                padding-bottom: 20px;
                            }

                            h3 {
                                margin-bottom: 16px;
                            }

                            h5 {
                                margin-bottom: 16px;
                            }
                        }

                        a {
                            padding: 30px;

                            img {
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:820px){
        margin-bottom: 150px;
        .productWrapper {
            .productHeader {@include wrapper;
                h2 {margin-bottom: 32px;font-size: 24px;font-style: normal;font-weight: 700;line-height: 120%;text-align: left;}
            }
            .tabContent {
                .cards {
                    .card {
                        min-height: auto;
                        background: #ffffff;
                        position: relative;
                        margin-right: 0px;

                        .card-wrapper {
                            padding: 35px 40px 30px 40px;
                            transform: translateY(0);
                            

                            img {
                                padding-bottom: 24px;
                                margin: unset;
                            }

                            h3 {
                                margin-bottom: 16px;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 110%;
                                letter-spacing: -0.4px;
                                text-align:left;
                            }

                            h5 {
                                text-align: center;
                                margin-bottom: 16px;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 140%;
                                text-align:left;
                            }

                            p {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                text-align:left;
                            }
                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 8px;
                            position: relative;
                            padding: 53px 50px 44px 50px;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            height: auto;
                            opacity: 1;
                            background: #ffffff;
                            .fontellowRightArrow{font-size: 14px;}
                            &::after {
                                border-top-left-radius: 30px;
                                width: 81%;
                            }

                            &::before {
                                border-top-right-radius: 30px;
                                width: 21%  ;
                            }


                            img {
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                    .slick-prev,
                    .slick-next {
                        &.slick-next {left:92px}
                        &.slick-prev {left: 30px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:680px){
        .productWrapper {
            .tabContent {
                .cards {border: none;
                    .card{
                        .card-wrapper{ padding: 35px 40px 30px 20px;}
                        a{padding-left: 20px;padding-right: 20px;}
                    }
                    .slick-prev,
                    .slick-next {
                        &.slick-next {left:72px}
                        &.slick-prev {left: 20px;}
                    }
                }
            }
        }
    }
}

