.resDetailBannerSec{margin-top: 170px; margin-bottom: 120px;
    .secWrapper{@include wrapper; width: 70%; margin: 0 auto;
        .backBtn{margin-bottom: 32px; display: inline-block;
            a{display: flex; align-items: center; gap: 10px; color: $quaternaryColor2; @include terminabold; @include font20; line-height: 140%; font-weight: $fontW600;
                .backArrow{color: $quaternaryColor2; @include terminabold; font-size: 20px;
                    &::before{margin: 0;}
                }
            }
        }
        .secHeading{
            h1{color: $quaternaryColor1; text-shadow: 0px 5.12px 43.52px rgba(0, 0, 0, 0.10); @include terminamedium; @include font48; line-height: 133%; margin-bottom: 50px;}
            .imgBox{
                .mbl{display: none;}
            }
        }
    }
    @media all and (max-width: 1800px){margin-top: 160px; margin-bottom: 110px;
        .secWrapper{width: 75%;}
    }
    @media all and (max-width: 1600px){margin-top: 150px;
        .secWrapper{width: 80%; 
            .backBtn{margin-bottom: 30px;
                .backArrow{font-size: 18px;}
            }
        }
    }
    @media all and (max-width: 1440px){margin-top: 140px; margin-bottom: 100px;
        .secWrapper{width: 85%;
            .backBtn{margin-bottom: 25px;
                a{
                    .backArrow{font-size: 16px;}
                }
            }
            .secHeading{
                h1{margin-bottom: 40px}
            }

        }
    }
    @media all and (max-width: 1280px){margin-top: 120px; margin-bottom: 80px;
        .secWrapper{
            .backBtn{margin-bottom: 20px;
                a{
                    img{width: 20px; height: 20px;}
                }
            }
            .secHeading{
                h1{margin-bottom: 35px}
            }
        }
    }
    @media all and (max-width: 1024px){margin-top: 100px; margin-bottom: 60px;
        .secWrapper{width: 90%;}
    }
    @media all and (max-width: 820px){margin-top: 84px;
        .secWrapper{width: 90%;}
    }
    @media all and (max-width: 720px){margin-bottom: 50px;
        .secWrapper{width: 100%;
            .backBtn{margin-bottom: 24px;
                a{font-size: 14px; line-height: 100%; gap: 8px;
                    .backArrow{font-size: 14px;}
                }
            }
            .secHeading{
                h1{margin-bottom: 50px; font-size: 24px; line-height: 133%;}
                .imgBox{
                    .desktop{display: none;}
                    .mbl{display: block;}
                }
            }
        }
    }
}
.resDetailContentSec{margin-bottom: 120px; position: relative; overflow: hidden;
    .secWrapper{@include wrapper; width: 70%; margin: 0 auto; overflow: hidden;
        .contentBox{ position: relative; transition: 0.8s all ease-in-out; overflow: hidden; 
            &.hideTxt{ max-height: 1068px; overflow: hidden; transition: 0.8s all ease-in;}
            h2{margin-bottom: 24px; color: #000; @include terminabold; @include font32; line-height: 150%;}
            h3{margin-bottom: 24px; color: #000; @include terminabold; @include font24; line-height: 150%;}
            h4{margin-bottom: 24px; color: #000; @include terminabold; @include font20; line-height: 160%;}
            h5{margin-bottom: 24px; color: #000; @include terminabold; @include font16; line-height: 150%;}

            p{color: #000; @include verdanaregular; @include font20; line-height: 160%; margin-bottom: 30px;}
            ol{margin-left: 50px; margin-bottom: 50px;
                li{list-style: decimal; color: #000; @include verdanaregular; @include font20; line-height: 160%; margin-bottom: 10px;
                    span{@include verdanabold;}
                }
            }
            ul{margin-left: 20px; margin-bottom: 50px;
                li{list-style: decimal; color: #000; @include verdanaregular; @include font20; line-height: 160%; margin-bottom: 10px;
                    span{@include verdanabold;}
                }
            }
            figure{margin-bottom: 30px;}
            .imgFig{
                figcaption{position: relative; padding-left: 10px; color: #000; @include font16; @include verdanaregular; line-height: 175%; margin: 16px 0;
                    &::before{content:''; position: absolute; top: 0; border-left: 2px solid #000; height: 100%; left: 0; }
                }
            }
            .figCaptionBox{padding: 40px 0 0 0;
                .singleCaption{background: #F5F75E; padding: 36px 0 20px;  margin-bottom: 0;
                    figcaption{position: relative; padding: 0 10px; color: #000; @include font20; @include verdanaregular; line-height: 140%; font-style: italic; 
                        &::before{content:''; position: absolute; top: 0; border-left: 2px solid #000; height: 100%; left: 0; }
                    }
                }
            }
            .highlightedTxt{position: relative; padding: 0 10px; color: #000; @include font20; @include verdanaregular; line-height: 140%; font-style: italic; background: #F5F75E; padding: 36px 0 20px 10px;
                &::before{content:''; position: absolute;  border-left: 2px solid #000; height: calc(100% - 56px); left: 0; }
            }
            .bottomspace{margin-bottom: 34px; overflow: auto; border: none;}
            &:last-child{margin-bottom: 0;}
            
            &::after{content: ''; background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, -0.79) 100%); width: 100%; height: 200px; bottom: 0px; left: 0;position: absolute;}
            &.removeFadeEffect{
                &::after{display: none;}
            }
        }
        .readMoreBtnBox{display: flex; align-items: center; justify-content: center; margin-top: 40px;
            &.btnHide{display: none;}
        }
    }
    @media all and (max-width: 1920px){
        .secWrapper{
            .contentBox{
                &.hideTxt{max-height: 900px;}
            }
        }
    }
    @media all and (max-width: 1800px){margin-bottom: 110px;
        .secWrapper{width: 75%;
            .contentBox{
                &.hideTxt{max-height: 900px;}
                .bottomspace{margin-bottom: 30px;}
            }
        }
    }
    @media all and (max-width: 1600px){
        .secWrapper{width: 80%;
            .contentBox{
                &.hideTxt{max-height: 850px;}               
                .bottomspace{margin-bottom: 25px;}
                p{margin-bottom: 28px;}
                ol{margin-bottom: 45px;}
                ul{margin-bottom: 45px;}
            }
        }
    }
    @media all and (max-width: 1440px){margin-bottom: 100px;
        .secWrapper{width: 85%;
            .contentBox{
                &.hideTxt{max-height: 800px;}
                h2{margin-bottom: 20px;}
                h3{margin-bottom: 20px;}
                h4{margin-bottom: 20px;}
                h5{margin-bottom: 20px;}
                p{margin-bottom: 26px;}
                ol{margin-bottom: 40px; margin-left: 40px;}
                ul{margin-bottom: 40px; margin-left: 40px;  }
                .figCaptionBox{padding: 35px 0 0 0;
                    .singleCaption{padding: 30px 0 16px;}
                }
                .highlightedTxt{padding: 30px 0 16px 10px;}
                .bottomspace{margin-bottom: 20px;}
            }
        }
    }
    @media all and (max-width: 1280px){
        .secWrapper{
            .contentBox{
                &.hideTxt{max-height: 730px;}
                p{margin-bottom: 24px;}
                ol{margin-bottom: 40px; margin-left: 30px;}
                ul{margin-bottom: 40px; margin-left: 30px;}
                .figCaptionBox{padding: 32px 0 3 0;}
                .highlightedTxt{padding: 32px 0 16px 10px;}
            }
        }
    }
    @media all and (max-width: 1024px){
        .secWrapper{width: 90%;
            .contentBox{
                &.hideTxt{ max-height: 650px;}
            }
        }
    }
    @media all and (max-width: 820px){
        .secWrapper{width: 90%;
        }
    }
    @media all and (max-width: 720px){
        .secWrapper{width: 100%;
            .contentBox{
                &.hideTxt{ max-height: 550px;}
                h2{font-size: 20px; line-height: 120%;}
                p{font-size: 12px; line-height: 150%;}
                ol{
                    li{font-size: 12px; line-height: 150%;}
                }
                ul{
                    li{font-size: 12px; line-height: 150%;}
                }
                .imgFig{
                    figcaption{margin: 10px 0;}
                }
                .figCaptionBox{padding: 30px 0 0 0;}
                .highlightedTxt{padding: 30px 0 30px 10px;}
            }
        }
    }
}
.relatedPostSec{margin-bottom: 240px;
    .secWrapper{@include wrapper; width: 70%; margin: 0 auto;
        .secHeading{margin-bottom: 64px;
            h2{@include terminamedium; @include font48; line-height: 133%; text-transform: uppercase; text-align: center;}
        }
        .cardContainer{display: block;
            .blogCard{width: calc(50% - 15px); border: 1px solid $quaternaryColor5;transition: 0.3s all ease-in-out; margin: 0 15px;
                .imgBox{margin-bottom: 30px;
                    img{width: 100%; height: 100%; object-fit: cover;}
                }
                .contentBox{padding: 0 24px 55px; display: flex; align-items: flex-end; justify-content: space-between; position: relative;
                    .content{width: 100%;
                        span{padding: 4px 8px; background: $primaryColor1; border-radius: 4px; color: #000; @include verdanaregular; @include font16; line-height: 175%; transition: 0.3s all ease-in-out;}
                        p{margin: 24px 0 14px 0; color: $quaternaryColor1; @include verdanaregular; @include font24; line-height: 166%;}
                        ul{display: flex; align-items: center; gap: 10px;
                            li{color: #000; @include verdanaregular; @include font16; line-height: 175%; position: relative;
                                &:last-child{padding-left: 15px;
                                    &::before{content: ''; position: absolute; width: 5px; height: 5px; background: #000; top: 12px;left: 0; border-radius: 100%;}
                                }
                            }
                        }
                    }
                    .arrowBox{border: 1px solid #000; border-radius: 100%; width: 64px; height: 64px; display: flex; align-items: center; justify-content: center;opacity: 0; visibility: hidden; transition: 0.3s all ease-in-out; position: absolute; right: 24px; bottom: 35px;
                        .rotateRightArrow{font-size: 20px; transform: rotate(-45deg);}
                    }
                }
                &:hover{background: $primaryColor1;
                    .contentBox{
                        .content{
                            span{background: #fff;}
                        }
                        .arrowBox{opacity: 1; visibility: visible;}
                    }
                }
            }
            .slick-list{margin: 0 -15px;}
            .slick-prev,
                .slick-next {padding: 12px;position: absolute;top: 110%;width: 48px;height: 48px;cursor: pointer;z-index: 2;border-radius:50%;border:1px solid $quaternaryColor1;
                    &::before{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-55%);}
                    &.slick-next {right: calc(50% - 60px);
                       &::before {
                            content: url(../images/next-button.svg);
                        }
                    }
                    &.slick-prev {left: calc(50% - 60px);
                        &::before {
                            content: url(../images/prev-button.svg);
                        }
                    }
                }
        }
    }
    @media all and (max-width: 1800px){margin-bottom: 200px;
        .secWrapper{width: 75%;
            .secHeading{margin-bottom: 60px;}
            .cardContainer{
                .blogCard{
                    .contentBox{
                        .content{
                            p{margin: 22px 0 12px 0;}
                        }
                        .arrowBox{width: 60px; height: 60px;}
                    }
                }
            }
        }
    }
    @media all and (max-width: 1600px){margin-bottom: 180px;
        .secWrapper{width: 80%;
            .secHeading{margin-bottom: 55px;}
            .cardContainer{
                .blogCard{
                    .contentBox{padding: 0 22px 50px;
                        .content{
                            ul{
                                li:last-child{
                                    &::before{top: 9px;}
                                }
                            }
                        }
                        .arrowBox{right: 22px; bottom: 25px;}
                    }
                }
                .slick-prev,
                    .slick-next {width: 40px;height: 40px;
                        &.slick-next {right: calc(50% - 50px)}
                        &.slick-prev {left: calc(50% - 50px)}
                    }
            }
        }
    }
    @media all and (max-width: 1440px){margin-bottom: 160px;
        .secWrapper{width: 85%;
            .secHeading{margin-bottom: 50px;}
            .cardContainer{
                .blogCard{
                    .imgBox{margin-bottom: 25px;}
                    .contentBox{padding: 0 20px 45px;
                        .content{
                            p{margin: 20px 0 10px 0;}
                        }
                        .arrowBox{width: 50px; height: 50px; right: 20px;
                            .rotateRightArrow{font-size: 16px;}
                        }
                    }
                }
                .slick-prev,
                    .slick-next {width: 36px;height: 36px; 
                        &::before{transform: translate(-50%,-60%);}
                        &.slick-next {right: calc(50% - 50px);}
                        &.slick-prev {left: calc(50% - 50px);}
                    }
            }
        }
    }
    @media all and (max-width: 1280px){
        .secWrapper{
            .secHeading{margin-bottom: 45px;}
            .cardContainer{gap: 25px;
                .blogCard{width: calc(50% - 13px); margin: 0 10px;
                    .imgBox{margin-bottom: 20px;}
                    .contentBox{padding: 0 18px 40px;
                        .content{
                            p{margin: 18px 0 10px 0;}
                            ul{
                                li:last-child{
                                    &::before{top: 8px;}
                                }
                            }
                        }
                        .arrowBox{width: 45px; height: 45px; right: 18px;
                            .rotateRightArrow{font-size: 14px;}
                        }
                    }
                }
                .slick-list{margin: 0 -10px;}

            }
        }
    }
    @media all and (max-width: 1180px){
        .secWrapper{
            .cardContainer{
                .blogCard{
                    .contentBox{
                        .arrowBox{opacity: 1; visibility: visible;}
                    }
                    &:hover{background: #fff;
                        .contentBox{
                            .content{
                                span{background: $primaryColor1;}
                            }
                            .arrowBox{opacity: 1; visibility: visible;}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 1024px){margin-bottom: 150px;
        .secWrapper{width: 90%;
            .secHeading{margin-bottom: 40px;}
            .cardContainer{
                .blogCard{
                    .imgBox{margin-bottom: 20px;}
                    .contentBox{padding: 0 18px 35px;align-items: end;
                        .arrowBox{opacity: 1; visibility: visible; width: 35px; height: 35px; right: 18px; bottom: 25px;
                            .rotateRightArrow{font-size: 12px;}
                        }
                    }
                    &:hover{background: #fff;
                        .contentBox{
                            .content{
                                span{background: $primaryColor1;}
                            }
                            .arrowBox{opacity: 1; visibility: visible;}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 820px){
        .secWrapper{width: 90%;
            .cardContainer{
                .slick-prev,
                    .slick-next {
                        &.slick-next {left:92px}
                        &.slick-prev {left: 30px;}
                    }
            }
        }
    }
    @media all and (max-width: 720px){margin-bottom: 150px;
        .secWrapper{width: 100%;
            .secHeading{margin-bottom: 32px;
                h2{text-align: left;}
            }
            .cardContainer{gap: 24px;
                .blogCard{width: 100%; margin: 0 5px;
                    .imgBox{margin-bottom: 24px;}
                    .contentBox{padding: 0 16px 24px;
                        .content{
                            span{line-height: 150%;}
                            p{margin: 16px 0 14px 0; font-size: 16px; line-height: 175%;}
                            ul{gap: 8px;
                                li{line-height: 150%;}
                                li:last-child{padding-left: 13px;
                                    &::before{top: 6px;}
                                }
                            }
                        }
                        .arrowBox{right: 16px; bottom: 14px;}
                    }
                }
                .slick-list{margin: 0 -5px;}
                .slick-prev,
                    .slick-next {
                        &.slick-next {left:72px}
                        &.slick-prev {left: 20px;}
                    }
            }
        }
    }
}

#backtop{position: fixed; right: 120px; bottom: 100px; opacity: 0; transition: all 0.3s ease-in-out; visibility: hidden; z-index: 2;
    a{width: 70px; height: 70px; background: $primaryColor1; border-radius: 100%; display: flex; align-items: center; justify-content: center; transition: all 0.1s ease-in-out;
        .fontellowdobuleUpIcon{color: #343330;font-size: 22px;}
    }
    &.show{opacity: 1; visibility: visible;}
   
    @media all and (max-width: 1680px){ right: 100px;
        a{width: 65px; height: 65px;}
    }
    @media all and (max-width: 1440px){right: 80px;
        a{width: 55px; height: 55px;
            .fontellowdobuleUpIcon{font-size: 20px;}
        }
    }
    @media all and (max-width: 1280px){right: 70px;
        a{width: 45px; height: 45px;
            .fontellowdobuleUpIcon{ font-size: 18px;}
        }
    }
    @media all and (max-width: 1024px){right: 60px;}
    @media all and (max-width: 820px){right: 50px;
        a{width: 40px; height: 40px;}
    }
    @media all and (max-width: 720px){right: 30px;
        a{width: 40px; height: 40px;
            .fontellowdobuleUpIcon{font-size: 16px;}
        }
    }
}