
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-cross:before { content: '\e801'; } /* '' */
.icon-down-arrow:before { content: '\e802'; } /* '' */
.icon-double-arrow:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-dquotes:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */
.icon-pdfile:before { content: '\e809'; } /* '' */
.icon-right-arrow:before { content: '\e80a'; } /* '' */
.icon-left-arrow:before { content: '\e80b'; } /* '' */
.icon-locat:before { content: '\e80c'; } /* '' */
.icon-linkedin:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-twitter:before { content: '\e80f'; } /* '' */
.icon-youtube:before { content: '\e810'; } /* '' */
