
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-caretdoubleup:before { content: '\e802'; } /* '' */
.icon-down-arrow:before { content: '\e803'; } /* '' */
.icon-downloadsvg:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-icon-left:before { content: '\e807'; } /* '' */
.icon-icon-right:before { content: '\e808'; } /* '' */
.icon-insta:before { content: '\e809'; } /* '' */
.icon-linkedin:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-pdf17:before { content: '\e80c'; } /* '' */
.icon-quotes:before { content: '\e80d'; } /* '' */
.icon-search-svgrepo-com:before { content: '\e80e'; } /* '' */
.icon-x:before { content: '\e80f'; } /* '' */
.icon-youtube:before { content: '\e810'; } /* '' */
